<div class="w-full mt-28">

    <!-- Title -->
    <div class="w-full lg:flex lg:justify-between lg:items-center">
        <div class="inline-flex justify-start items-center gap-3">
            <app-house-icon dimensions="w-6 h-6" color="#000"></app-house-icon>
            <p class="text-base">Annunci &#40;{{user?.propertiesToAdd}} Left&#41;</p>
        </div>
        <button 
            *ngIf="(user?.addProperty) && (properties.length > 0)"
            [routerLink]="['/properties/add/new']" 
            class="hidden lg:inline-flex bg-[#FBE525] rounded-full h-12 justify-center items-center cursor-pointer hover:shadow-[0_0_20px_0_rgba(251,229,37,1)] focus:shadow-none focus:bg-[#FBE525] px-14">
            Aggiungi nuovo annuncio
        </button>
    </div>
    <!-- / Title -->

    <!-- No Ads -->
    <div *ngIf="properties.length == 0" [routerLink]="['/properties/add/new']" class="w-full h-24 rounded-[20px] border-2 border-dashed border-[#A39175] inline-flex justify-center gap-3 items-center mt-6 cursor-pointer">
        <app-plus-icon dimensions="w-10 h-10" color="#A39175"></app-plus-icon>
        <p class="text-sm text-center">Aggiungi la proprietà</p>
    </div>
    <!-- / No Ads -->

    <!-- Ads Card -->
    <div *ngFor="let prop of properties" [routerLink]="['/properties/' + prop.citta + '/property', prop.id]" class="w-full relative lg:flex lg:gap-4 bg-[#D6CEC2] rounded-[20px] mt-3 lg:p-2 lg:hover:shadow-[4px_0px_0px_0px_rgba(251,229,37,1)] cursor-pointer">

        <!-- Status Button -->
        <div class="w-max h-6 rounded-full inline-flex justify-center items-center bg-[#FEF9CD] px-2 absolute top-4 left-4 gap-3">
            <app-currency-circle-dollar-icon dimensions="w-4 h-4" color="#5C503D"></app-currency-circle-dollar-icon>
            <p class="text-xs text-[#5C503D]">In {{ (prop.propertyFor == 0) ? 'Affitto' : 'Vendita'}}</p>
        </div>

        <!-- Image -->
        <img class="w-full h-56 rounded-[20px] lg:max-w-[330px]" src="/assets/images/house-preview.jpeg" alt="house-preview" />

        <!-- Image Count -->
        <div class="w-full inline-flex justify-center items-center gap-2 -mt-10 absolute top-[238px] lg:hidden">
            <app-image-icon dimensions="w-4 h-4" color="white"></app-image-icon>
            <p class="text-white text-xs">34</p>
        </div>

        <!-- Info -->
        <div class="px-4 pt-4 pb-6">
            <!-- Title -->
            <h3 class="text-base">{{ prop.alias }}</h3>

            <!-- Characteristics -->
            <div class="w-full inline-flex items-center gap-3 mt-3">
                <!-- Square metters -->
                <div class="w-max h-8 bg-[#EBE7E0] rounded inline-flex justify-center items-center gap-3 px-1">
                    <app-wave-square-icon dimensions="w-6 h-6" color="#5C503D"></app-wave-square-icon>
                    <p class="text-xs text-[#5C503D]">{{ prop.squareMetters }} &#13217;</p>
                </div>
                <!-- Bathtub -->
                <div *ngIf="prop.bathrooms != 0" class="w-max h-8 bg-[#EBE7E0] rounded inline-flex justify-center items-center gap-3 px-1">
                    <app-bathtub-icon dimensions="w-6 h-6" color="#5C503D"></app-bathtub-icon>
                    <p class="text-xs text-[#5C503D]">{{ prop.bathrooms }}</p>
                </div>
                <!-- Beds -->
                <div *ngIf="prop.bedrooms != 0" class="w-max h-8 bg-[#EBE7E0] rounded inline-flex justify-center items-center gap-3 px-1">
                    <app-bed-icon dimensions="w-6 h-6" color="#5C503D"></app-bed-icon>
                    <p class="text-xs text-[#5C503D]">{{ prop.bedrooms }}</p>
                </div>
            </div>


            <!-- Pricing -->
            <div class="w-full inline-flex items-center gap-3 mt-8">
                <!-- Old Price -->
                <div *ngIf="prop.oldPrice" class="w-max inline-flex items-center gap-1">
                    <app-trend-down-icon dimensions="w-4 h-4" color="#539267"></app-trend-down-icon>
                    <p class="text-xs text-[#8A785B] line-through">{{ prop.oldPrice | currency: 'EUR':'symbol':'1.2':'it'}} (-12%)</p>
                </div>
                <!-- Price -->
                <p class="text-xl font-semibold">{{ prop.price | currency: 'EUR':'symbol':'1.2':'it'}}</p>
            </div>

            <!-- Management -->
            <div class="w-full inline-flex justify-between  items-center mt-4">
                <!-- Emails & Views -->
                <div class="w-max inline-flex justify-center items-center gap-2">
                    <!-- Emails -->
                    <!-- <div class="bg-[#FCED69] h-10 rounded shadow-[0_0_20px_0_rgba(252,237,105,0.8)] p-1 inline-flex justify-center items-center gap-3">
                        <p class="pl-1 text-sm">&#40;2&#41; email</p>
                        <button class="w-10 inline-flex justify-center items-center bg-[#FEF9CD] h-8">ok</button>
                    </div> -->
                    <!-- Views -->
                    <div *ngIf="prop.favs != 0" class="w-max h-10 bg-[#E0DAD1] px-2 inline-flex justify-center items-center gap-3 rounded">
                        <app-heart-icon dimensions="w-4 h-4" color="#5C503D"></app-heart-icon>
                        <p class="text-xs text-[#5C503D]">{{ prop.favs }}</p>
                    </div>
                </div>

                <!-- Publish TODO:-->
                <!-- <form #f="ngForm" class="w-max" [formGroup]="adForm">
                    <div class="w-max">
                        <div>
                            <ul class="grid grid-cols-2  p-1 gap-2 rounded-full w-max bg-[#FBE525]">
                                <li class="w-6 h-6">
                                    <input type="radio" id="0" name="status" formControlName="status" value="0" class="hidden peer">
                                    <label for="0" class="flex justify-center items-center bg-transparent w-full h-full rounded-full cursor-pointer peer-checked:bg-[#5C503D] bg-opacity-50 peer-checked:opacity-100">
                                        <app-eye-slash-icon *ngIf="adForm.value.status == '1'" dimensions="w-3 h-3" color="#5C503D"></app-eye-slash-icon>
                                        <app-eye-slash-icon *ngIf="adForm.value.status == '0'" dimensions="w-3 h-3" color="white"></app-eye-slash-icon>
                                    </label>
                                </li>
                                <li class="w-6 h-6">
                                    <input type="radio" id="1" name="status" formControlName="status" value="1" class="hidden peer">
                                    <label for="1" class="flex justify-center items-center bg-transparent w-full h-full rounded-full cursor-pointer peer-checked:bg-[#5C503D] opacity-50 peer-checked:opacity-100">
                                        <app-eye-icon *ngIf="adForm.value.status == '1'" dimensions="w-3 h-3" color="white"></app-eye-icon>
                                        <app-eye-icon *ngIf="adForm.value.status == '0'" dimensions="w-3 h-3" color="#5C503D"></app-eye-icon>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
    <!-- / Ads Card -->

    <!-- Basic Acc Info -->
    <div *ngIf="user?.propertiesToAdd == 1" class="w-full inline-flex gap-3 mt-6">
        <app-info-icon dimensions="w-6 h-6" color="#4D4333"></app-info-icon>
        <p class="text-[#4D4333] text-xs">Gli account base possono pubblicare fino a 1 annuncio alla volta.<br/> <span class="font-bold text-[#7D7102] cursor-pointer">Se sei un agente immobiliare, aggiorna il tuo account cliccando qui.</span></p>
    </div>
    <!-- / Basic Acc Info -->

    <!-- Load More Button -->
    <div class="w-full inline-flex justify-center items-center">
        <button type="button" (click)="loadMoreProperties()" class="rounded-full px-8 h-12 border-2 border-[#213A29] text-[#213A29] bg-transparent cursor-pointer mt-8 hover:bg-[#213A29] hover:text-[#FBE525] focus:bg-[#122017] focus:text-[#FBE525]">
            Carica Altri
        </button>
    </div>
    <!-- / Load More Button -->
</div>