<div class="w-full mt-28">

    <!-- Title -->
    <div class="inline-flex justify-start items-center gap-3">
        <app-house-icon dimensions="w-6 h-6" color="#000"></app-house-icon>
        <p class="text-base">Ads &#40;1 Slot Only&#41;</p>
    </div>
    <!-- / Title -->

    <!-- No Ads -->
    <div class="w-full h-24 rounded-[20px] border-2 border-dashed border-[#A39175] inline-flex justify-center gap-3 items-center mt-6">
        <app-plus-icon dimensions="w-10 h-10" color="#A39175"></app-plus-icon>
        <p class="text-sm text-center">Add Property</p>
    </div>
    <!-- / No Ads -->
</div>