<div class="px-4 py-20 lg:px-[90px] lg:flex lg:flex-col lg:justify-center lg:items-center">

    <!-- Last Searches / Only Mobile Version -->
    <div class="w-full flex flex-col gap-5 mb-20 lg:hidden">

        <!-- Text -->
        <p class="text-[12px]">Last Searches</p>
        <!--/ Text -->

        <!-- Searches -->
        <div class="w-full flex flex-col gap-3">
            <div class="w-full p-3 bg-[#D6CEC2] rounded-3xl flex flex-row justify-between">
                <p class="text-[12px]">Area: Trentino Alto Adige > Provincia (TN) > Romeno</p>
            </div>
            <div class="w-full p-3 bg-[#D6CEC2] rounded-3xl flex flex-row justify-between">
                <p class="text-[12px]">Area: Trentino Alto Adige > Provincia (TN) > Romeno</p>
            </div>
            <div class="w-full p-3 bg-[#D6CEC2] rounded-3xl flex flex-row justify-between">
                <p class="text-[12px]">Area: Trentino Alto Adige > Provincia (TN) > Romeno</p>
            </div>
        </div>
        <!--/ Searches -->
        
        <!-- Link -->
        <a href="#" class="text-[12px] text-[#7D7102] focus:underline">More</a>
        <!--/ Link -->

    </div>
    <!--/ Last Searches / Only Mobile Version -->

    <!-- Post Ads -->
    <div class="w-full p-6 bg-[#4B4401] border-none rounded-[30px] mb-20 flex flex-col justify-between gap-8 lg:max-w-[950px] lg:p-8 lg:gap-4">

        <!-- Texts -->
        <div class="flex flex-col gap-3">
            <p class="text-[35px] text-[#E0DAD1] lg:text-[49px]">Post your ad now</p>
            <p class="text-sm text-[#E0DAD1] text-[16px]">Advertise Your Property for Rent or Sale Now</p>
        </div>
        <!--/ Texts -->

        <div class="flex flex-col gap-5 lg:flex-row lg:gap-0">

            <!-- Post your Ad -->
            <div class="w-full h-[319px] p-5 bg-[#322E01] border-none rounded-[20px] flex flex-col justify-between items-center lg:bg-transparent lg:border-solid lg:border-r-2 lg:border-r-[#7D7102] lg:rounded-none">
                <img src="/assets/images/Asset_x.png" class="w-[262px] h-[175px] border-none">
                <button class="w-full py-4 bg-transparent border-2 border-[#FBE525] rounded-[500px] text-sm font-semibold text-white hover:bg-[#FBE525] hover:text-black hover:drop-shadow-[0px_0px_20px_rgba(251,229,37,1)] focus:border-none focus:drop-shadow-none focus:bg-[#E1CB04] lg:max-w-[320px] lg:text-[16px]">Post your ad</button>
            </div>
            <!--/ Post your Ad -->

            <!-- Assign to Agency -->
             <div class="w-full h-[319px] p-5 bg-[#322E01] border-none rounded-[20px] flex flex-col justify-between items-center lg:bg-transparent">
                <img src="/assets/images/business_cover.png" class="w-[262px] h-[155px] border-none lg:h-[175px]">
                <button class="w-full py-4 bg-[#FBE525] border-none rounded-[500px] text-sm font-semibold hover:drop-shadow-[0px_0px_20px_rgba(251,229,37,1)] focus:drop-shadow-none focus:bg-[#E1CB04] lg:max-w-[320px] lg:text-[16px]">Assignment to an agency</button>
             </div>
            <!--/ Assign to Agency -->

        </div>

    </div>
    <!--/ Post Ads -->
    
    <!-- Ads from Partners -->
    <div></div>
    <!--/ Ads from Partners -->

    <!-- Energy Cards -->
    <div class="w-full flex flex-col gap-10 lg:flex-row lg:gap-5">

        <!-- Enel Light -->
        <div class="w-full h-[270px] px-6 pt-6 pb-8 bg-gradient-to-r from-[#FF0F64] to-[#3C0015] border-none rounded-[20px] flex flex-col justify-between">

            <div class="flex flex-col gap-5">

                <!-- Icon & Logo -->
                <div class="flex flex-row justify-between">
                    <app-light-icon></app-light-icon>
                    <app-enel-logo></app-enel-logo>
                </div>
                <!--/ Icon & Logo -->

                <!-- Texts -->
                <div class="flex flex-col gap-3 lg:w-full lg:max-w-[300px]">
                    <p class="text-2xl text-white lg:text-[31px]">E-light Light</p>
                    <p class="text-[12px] text-white lg:text-[13px]">The most convenient Enel Energia fixed price electricity offer for you</p>
                </div>
                <!--/ Texts -->

            </div>

            <!-- Button -->
            <button class="w-full py-4 bg-transparent border-2 border-white rounded-[500px] text-white text-sm font-semibold lg:max-w-[208px]">Find out More</button>
            <!--/ Button -->

        </div>
        <!--/ Enel Light -->

        <!-- Enel Gas -->
        <div class="w-full h-[270px] px-6 pt-6 pb-8 bg-gradient-to-r from-[#FF5A0F] to-[#601E00] border-none rounded-[20px] flex flex-col justify-between">

            <div class="flex flex-col gap-5">

                <!-- Icon & Logo -->
                <div class="flex flex-row justify-between">
                    <app-fire-icon></app-fire-icon>
                    <app-enel-logo></app-enel-logo>
                </div>
                <!--/ Icon & Logo -->
            
                <!-- Texts -->
                <div class="flex flex-col gap-3 lg:w-full lg:max-w-[300px]">
                    <p class="text-2xl text-white lg:text-[31px]">E-light Gas</p>
                    <p class="text-[12px] text-white lg:text-[13px]">The most convenient Enel Energia fixed price gas offer for you</p>
                </div>
                <!--/ Texts -->

            </div>

            <!-- Button -->
            <button class="w-full py-4 bg-transparent border-2 border-white rounded-[500px] text-sm text-white font-semibold lg:max-w-[208px]">Find out More</button>
            <!--/ Button -->

        </div>
        <!--/ Enel Gas -->

    </div>
    <!--/ Energy Cards -->

</div>