<div class="w-full px-4 py-20 lg:flex lg:flex-col lg:justify-center lg:items-center">

    <!-- Header -->
    <div class="w-full lg:inline-flex lg:justify-center lg:items-center">
        <h1 class="text-[42px] lg:text-[61px] text-[#A39175] w-full">Find your next space.</h1>
        <img class="hidden lg:block w-[712px]" src="http://167.99.247.80/Content/Opla_Header_Banner.webp" alt="OplaHederBanner">
    </div>

    <!-- SearchForm -->
    <div class="w-full mt-10 lg:mt-0">
        <form class="w-full" #f="ngForm" [formGroup]="searchForm">
            <!-- Type Rental -->
            <div class="w-full flex justify-center items-center lg:hidden">
                <div class="w-full max-w-[260px] rounded-full bg-[#CCC2B2] p-1">
                    <ul class="grid w-full gap-[2px] grid-cols-2">
                        <!-- Rent -->
                        <li>
                            <input type="radio" id="rent" name="searchType" formControlName="searchType" value="rent" class="hidden peer"/>
                            <label for="rent" class="w-full inline-flex justify-center items-center h-[44px] rounded-full bg-transparent peer-checked:bg-[#FEFCE6] text-sm">
                                Rent
                            </label>
                        </li>
                        <!-- Buy -->
                        <li>
                            <input type="radio" id="buy" name="searchType" formControlName="searchType" value="buy" class="hidden peer"/>
                            <label for="buy" class="w-full inline-flex justify-center items-center h-[44px] rounded-full bg-transparent peer-checked:bg-[#FEFCE6] text-sm">
                                Buy
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- / Type Rental -->

            <!-- Input -->
            <div class="relative w-full h-[330px] bg-[#D6CEC2] lg:bg-[#DFD9D0] lg:border-[3px] lg:border-[#C2B6A3] rounded-[30px] p-2 lg:p-6 mt-2 lg:mt-0">
                <div class="w-full  lg:inline-flex lg:items-center lg:gap-6">
                    <div class="w-full max-w-[260px] rounded-full bg-[#CCC2B2] p-1 lg:block hidden">
                        <ul class="grid w-full gap-[2px] grid-cols-2">
                            <!-- Rent -->
                            <li class="cursor-pointer">
                                <div for="rent" [ngClass]="searchForm.value.searchType == 'rent' ? 'bg-[#FEFCE6]' : 'bg-transparent' " (click)="searchForm.value.searchType = 'rent'" class="w-full inline-flex justify-center items-center h-[44px] rounded-full text-sm">
                                    Rent
                                </div>
                            </li>
                            <!-- Buy -->
                            <li class="cursor-pointer">
                                <div for="buy" [ngClass]="searchForm.value.searchType == 'buy' ? 'bg-[#FEFCE6]' : 'bg-transparent'" (click)="searchForm.value.searchType = 'buy'" class="w-full inline-flex justify-center items-center h-[44px] rounded-full btext-sm">
                                    Buy
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="w-max relative hidden lg:block">
                        <button type="button" (click)="categoriesDropdown = (categoriesDropdown) ? false : true;" class="inline-flex w-max justify-between items-center gap-2 h-12 px-4 bg-[#CCC2B2] rounded-full">
                            <p class="text-base">Category: {{ searchForm.value.category }}</p>
                            <app-caret-down dimensions="w-4 h-4" color="#000"></app-caret-down>
                        </button>
                        <div *ngIf="categoriesDropdown" class="absolute top-[52px] w-max h-96 overflow-y-auto bg-[#CCC2B2] rounded-[20px] p-6 z-50">
                            <ul *ngFor="let item of typesWithCategories$ | async" class="w-full mt-3 grid">
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] font-semibold">{{ item.typeName }}</li>
                                <li *ngFor="let cat of item.propertyCategories" (click)="setCategory(cat)" class="inline-flex justify-start items-center gap-2 pl-2 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer">
                                    {{ cat.categoryName }}
                                </li>
                            </ul>
                </div>
                    </div>
                    <div class="w-max relative lg:hidden">
                        <button type="button" (click)="categoriesModal = (categoriesModal) ? false : true;" class="inline-flex w-full lg:max-w-[220px] justify-between items-center h-12 px-4 bg-[#CCC2B2] rounded-full">
                            <p class="text-base">Category: {{ searchForm.value.category }}</p>
                            <app-caret-down dimensions="w-4 h-4" color="#000"></app-caret-down>
                        </button>
                    </div>
                    
                </div>

                <textarea type="text" name="municipality" formControlName="municipality" (keyup)="getCittaEComune()" class="bg-transparent resize-none focus:ring-0 focus:border-0 text-[29px] lg:text-[39px] break-words text-[#4B4401] h-full lg:h-max w-full border-none mt-3 leading-[43px] placeholder:text-[#4B4401]" placeholder="Type the area of your interest"></textarea>

                <button type="button" (click)="areasModal = (areasModal) ? false : true;" class="rounded-full w-16 h-16 inline-flex justify-center items-center cursor-pointer bg-[#FBE525] absolute bottom-2 right-2 lg:hidden">
                    <app-magnifying-glass-icon dimensions="w-6 h-6" color="#000"></app-magnifying-glass-icon>
                </button>

                <!-- Desktop -->
                <button [disabled]="" type="button" (click)="searchCriteria()" class="rounded-full w-full max-w-[200px] h-12 bg-[#FBE525] lg:flex justify-center items-center border-none text-sm font-semibold hover:drop-shadow-[0px_0px_20px_rgba(251,229,37,1)] active:drop-shadow-none active:bg-[#E1CB04] lg:text-[16px] disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:drop-shadow-none absolute bottom-2 right-2 hidden">
                    Search
                </button>
                <!-- / Desktop -->
            </div>
            <!-- / Input -->

            <!-- Areas Table -->
            <div *ngIf="cittaEComune$.length > 0"  class="w-full bg-[#C2B6A3] rounded-[20px] hidden lg:block pt-12 -mt-10 -z-10 h-[278px] overflow-y-auto">
                <ul *ngFor="let city of cittaEComune$" class="w-full grid px-6">
                    <li (click)="setCity(city.cittaId)" class="w-full px-4 h-8 hover:bg-[#B8AA94] rounded-full inline-flex justify-between items-center cursor-pointer">
                        <label class="text-base text-[#4D4333]">{{ city.citta }}</label>
                        <app-caret-right dimensions="w-4 h-4" color="#4D4333"></app-caret-right>
                    </li>
                    <ul *ngIf="cityId == city.cittaId" class="grid pb-8 pl-4 pt-2">
                        <li *ngFor="let area of city.comuni" class="inline-flex justify-start items-center gap-2 cursor-pointer">
                            <input [id]="area.id" type="checkbox" [value]="area.id" (change)="$any($event.target)?.checked ? (isfrmChecked = true) : (isfrmChecked = false); addAreas($event, isfrmChecked)" class="w-4 h-4 text-[#8A785B] cursor-pointer bg-transparent border-[#8A785B] rounded focus:ring-[#8A785B] focus:ring-0">
                            <label [for]="area.id" class="text-sm cursor-pointer">{{ area.comune }}</label>
                        </li>
                    </ul>
                </ul>
            </div>
            <!-- / Areas Table -->
        </form>
    </div>
    <!-- SearchForm -->

    <!-- Post Ads -->
    <div class="w-full p-6 bg-[#4B4401] border-none rounded-[30px] mb-20 flex flex-col justify-between gap-8 lg:p-8 lg:gap-4 mt-10">

        <!-- Texts -->
        <div class="flex flex-col gap-3">
            <p class="text-[35px] text-[#E0DAD1] lg:text-[49px]">Post your ad now</p>
            <p class="text-sm text-[#E0DAD1] text-[16px]">Advertise Your Property for Rent or Sale Now</p>
        </div>
        <!--/ Texts -->

        <div class="flex flex-col gap-5 lg:flex-row lg:gap-0">

            <!-- Post your Ad -->
            <div class="w-full h-[319px] p-5 bg-[#322E01] border-none rounded-[20px] flex flex-col justify-between items-center lg:bg-transparent lg:border-solid lg:border-r-2 lg:border-r-[#7D7102] lg:rounded-none">
                <img src="http://167.99.247.80/Content/Asset_x.webp" class="w-[262px] h-[175px] border-none">
                <button [routerLink]="['/business']" class="w-full py-4 bg-transparent border-2 border-[#FBE525] rounded-[500px] text-sm font-semibold text-white hover:bg-[#FBE525] hover:text-black hover:drop-shadow-[0px_0px_20px_rgba(251,229,37,1)] focus:border-none focus:drop-shadow-none focus:bg-[#E1CB04] lg:max-w-[320px] lg:text-[16px]">Post your ad</button>
            </div>
            <!--/ Post your Ad -->

            <!-- Assign to Agency -->
            <div class="w-full h-[319px] p-5 bg-[#322E01] border-none rounded-[20px] flex flex-col justify-between items-center lg:bg-transparent">
                <img src="http://167.99.247.80/Content/business_cover.webp" class="w-[262px] h-[155px] border-none lg:h-[175px]">
                <button class="w-full py-4 bg-[#FBE525] border-none rounded-[500px] text-sm font-semibold hover:drop-shadow-[0px_0px_20px_rgba(251,229,37,1)] focus:drop-shadow-none focus:bg-[#E1CB04] lg:max-w-[320px] lg:text-[16px]">Assignment to an agency</button>
            </div>
            <!--/ Assign to Agency -->

        </div>

    </div>
    <!--/ Post Ads -->
    
    <!-- Ads from Partners -->
    <div></div>
    <!--/ Ads from Partners -->

    <!-- Energy Cards -->
    <div class="w-full flex flex-col gap-10 lg:flex-row lg:gap-5">

        <!-- Enel Light -->
        <div class="w-full h-[270px] px-6 pt-6 pb-8 bg-gradient-to-r from-[#FF0F64] to-[#3C0015] border-none rounded-[20px] flex flex-col justify-between">

            <div class="flex flex-col gap-5">

                <!-- Icon & Logo -->
                <div class="flex flex-row justify-between">
                    <app-light-icon></app-light-icon>
                    <app-enel-logo></app-enel-logo>
                </div>
                <!--/ Icon & Logo -->

                <!-- Texts -->
                <div class="flex flex-col gap-3 lg:w-full lg:max-w-[300px]">
                    <p class="text-2xl text-white lg:text-[31px]">E-light Light</p>
                    <p class="text-[12px] text-white lg:text-[13px]">The most convenient Enel Energia fixed price electricity offer for you</p>
                </div>
                <!--/ Texts -->

            </div>

            <!-- Button -->
            <button class="w-full py-4 bg-transparent border-2 border-white rounded-[500px] text-white text-sm font-semibold lg:max-w-[208px] hover:bg-white hover:text-[#FF0F64] focus:bg-white focus:text-[#FF0F64]">Find out More</button>
            <!--/ Button -->

        </div>
        <!--/ Enel Light -->

        <!-- Enel Gas -->
        <div class="w-full h-[270px] px-6 pt-6 pb-8 bg-gradient-to-r from-[#FF5A0F] to-[#601E00] border-none rounded-[20px] flex flex-col justify-between">

            <div class="flex flex-col gap-5">

                <!-- Icon & Logo -->
                <div class="flex flex-row justify-between">
                    <app-fire-icon></app-fire-icon>
                    <app-enel-logo></app-enel-logo>
                </div>
                <!--/ Icon & Logo -->
            
                <!-- Texts -->
                <div class="flex flex-col gap-3 lg:w-full lg:max-w-[300px]">
                    <p class="text-2xl text-white lg:text-[31px]">E-light Gas</p>
                    <p class="text-[12px] text-white lg:text-[13px]">The most convenient Enel Energia fixed price gas offer for you</p>
                </div>
                <!--/ Texts -->

            </div>

            <!-- Button -->
            <button class="w-full py-4 bg-transparent border-2 border-white rounded-[500px] text-sm text-white font-semibold lg:max-w-[208px] hover:bg-white hover:text-[#FF5A0F] focus:bg-white focus:text-[#FF5A0F]">Find out More</button>
            <!--/ Button -->

        </div>
        <!--/ Enel Gas -->

    </div>
    <!--/ Energy Cards -->

</div>

<!-- Category modal -->
<div *ngIf="categoriesModal" tabindex="-1" aria-hidden="true" class="flex bg-[#B8AA94] bg-opacity-80 overflow-y-scroll fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full">
    <div class="w-full h-3/4 absolute bottom-0 left-0 lg:overflow-y-none overflow-scroll px-4 py-8 lg:max-w-[1010px] lg:h-max bg-[#EBE7E0] lg:border-none lg:rounded-[30px] lg:px-5 lg:py-[15px] rounded-t-[20px]">
        <!-- Header -->
        <div class="w-full inline-flex justify-between items-center  pb-1 border-b border-[#D6CEC2]">
            <div class="w-full inline-flex justify-start gap-5 items-center">
                <p class="text-base w-max">Categories</p>
            </div>
            <div (click)="categoriesModal = false;" class="w-12 h-12 inline-flex justify-center items-center">
                <app-close-icon dimensions="w-6 h-6" color="#000"></app-close-icon>
            </div>
        </div>
        <ul *ngFor="let item of typesWithCategories$ | async" class="w-full mt-8 grid">
            <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] font-semibold">{{ item.typeName }}</li>
            <li *ngFor="let cat of item.propertyCategories" class="inline-flex justify-start items-center gap-2 pl-2">
                <label class="text-sm" (click)="setCategory(cat)">{{ cat.categoryName }}</label>
            </li>
        </ul>
    </div>
</div>

<!-- Areas Modal-->
<div *ngIf="areasModal" tabindex="-1" aria-hidden="true" class="flex bg-[#EBE7E0] overflow-y-scroll fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-[calc(100%)] max-h-full">
    <div class="w-full h-full absolute top-0 left-0 lg:overflow-y-none p-4 lg:max-w-[1010px] lg:h-max  lg:border-none lg:px-5 lg:py-[15px]">
        <div class="w-full inline-flex justify-between items-center">
            <input type="text" [value]="searchForm.value.municipality" name="municipality" class="bg-transparent border-none focus:ring-0 focus:border-none text-[29px] text-[#4B4401]" placeholder="" autofocus/>
            <div class="w-12 h-12 inline-flex items-center justify-center">
                <app-close-icon dimensions="w-4 h-4" color="#000" (click)="areasModal = false;"></app-close-icon>
            </div>
        </div>
    </div>

    <div class="w-full h-3/4 absolute bottom-0 left-0 overflow-y-scroll lg:overflow-y-none px-4 py-8 lg:max-w-[1010px] lg:h-max bg-[#C2B6A3] lg:border-none lg:rounded-[30px] lg:px-5 lg:py-[15px] rounded-t-[20px]">
        <ul *ngFor="let city of cittaEComune$" class="w-full grid pb-20">
            <li *ngFor="let area of city.comuni" class="inline-flex justify-start items-center gap-2">
                <input [id]="area.id" type="checkbox" [value]="area.id" (change)="$any($event.target)?.checked ? (isfrmChecked = true) : (isfrmChecked = false); addAreas($event, isfrmChecked)" class="w-4 h-4 text-[#8A785B] bg-transparent border-[#8A785B] rounded focus:ring-[#8A785B] focus:ring-0">
                <label [for]="area.id" class="text-sm">{{ area.comune }}</label>
            </li>
        </ul>

        <button
            type="button"
            (click)="searchCriteria()"
            class="w-full max-w-[343px] py-4 mt-10 fixed bottom-4 mb-6 bg-[#FBE525] rounded-[500px] flex justify-center items-center border-none text-sm font-semibold hover:drop-shadow-[0px_0px_20px_rgba(251,229,37,1)] active:drop-shadow-none active:bg-[#E1CB04] lg:max-w-[450px] lg:text-[16px] disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:drop-shadow-none">
            Search
        </button>
    </div>
</div>
<!-- / Areas Modal -->