<svg ngClass="{{dimensions}}" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <!-- X Logo -->
    <g clip-path="url(#clip0_617_7384)">
        <path [ngStyle]="{'stroke': color}" d="M6 5H12L26 27H20L6 5Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M14.235 17.9414L6 27.0002" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M26.0006 5L17.7656 14.0588" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
</svg>