<svg ngClass="{{dimensions}}" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_377_787)">
        <path [ngStyle]="{'stroke': color}" d="M18 3H6C5.58579 3 5.25 3.33579 5.25 3.75V8.25C5.25 8.66421 5.58579 9 6 9H18C18.4142 9 18.75 8.66421 18.75 8.25V3.75C18.75 3.33579 18.4142 3 18 3Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M19.5 13.5H4.5C4.08579 13.5 3.75 13.8358 3.75 14.25V15.75C3.75 16.1642 4.08579 16.5 4.5 16.5H19.5C19.9142 16.5 20.25 16.1642 20.25 15.75V14.25C20.25 13.8358 19.9142 13.5 19.5 13.5Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M8.25 9V13.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M15.75 9V13.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M18 16.5V21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M6 16.5V21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
</svg>
