<div class="w-full px-4 pt-2 pb-10 flex flex-col justify-center items-center">

    <!-- Yellow Patterns | Top & Bottom -->
        
        <!-- Top -->      

        <!-- Bottom -->


    <!--/ Yellow Patterns | Top & Bottom -->

    <!-- Logo -->
    <app-opla-logo dimensions="w-[150px] h-8" color="#213A29"></app-opla-logo>
    <!--/ Logo -->

    <!-- Registration Box -->
    <div class="w-full bg-[#FEFCE6] border-none rounded-[30px] p-6 mt-8"></div>
    <!--/ Registration Box -->

    <!-- Content -->
    <div class="w-full my-10 flex flex-col gap-20 lg:my-20 lg:gap-32">

        <!-- Sign Up -->
        <div class="w-full flex flex-col justify-center items-center gap-10 lg:flex-row lg:gap-32">
            <div class="flex flex-col gap-2 lg:gap-5">
                <p class="text-[#8A785B] text-[42px] lg:text-[61px]">Iscriviti oggi e fai emergere la tua attività!</p>
                <p class="text-[16px]">Iscrivendoti potrai pubblicizzare le tue proprietà con pochi clic a migliaia di utenti. Puoi scegliere tra il piano gratuito o uno avanzato che copre tutte le tue esigenze.</p>
            </div>
            <img src="./assets/images/SignUp_Business_Register.webp" class="w-[343px] h-[300px] lg:w-[514px] lg:h-[441px]">
        </div>
        <!--/ Sign Up -->

        <!-- Search -->
        <div class="w-full flex flex-col justify-center items-center gap-10 lg:flex-row-reverse lg:gap-32">
            <div class="flex flex-col gap-2 lg:gap-5">
                <p class="text-[#8A785B] text-[42px] lg:text-[61px] lg:text-right">Una piattaforma facile da trovare</p>
                <p class="text-[16px] lg:text-right">Il tuo sito web si perderà tra i migliaia là fuori, indipendentemente da quanto sia buona la tua SEO. Sii il primo nella tua zona.</p>
            </div>
            <img src="./assets/images/Search_Business_Register.webp" class="lg:w-[530px] lg:h-[297px]">
        </div>
        <!--/ Search -->

        <!-- Process -->
        <div class="w-full flex flex-col justify-center items-center gap-10 lg:flex-row lg:gap-32">
            <div class="flex flex-col gap-2 lg:gap-5">
                <p class="text-[#8A785B] text-[42px] lg:text-[61px]">Un processo facile e veloce da qualsiasi dispositivo!</p>
                <p class="text-[16px]">Non perdere tempo e denaro cercando di costruire il tuo sito web secondo gli standard più recenti. Gestisci i tuoi immobili direttamente da qui, senza dover fare nulla.</p>
            </div>
            <img src="./assets/images/Devices_Business_Register.webp" class="lg:w-[522px] lg:h-[446px]">
        </div>
        <!--/ Process -->

    </div>
    <!--/ Content -->

    <!-- Sign Up Now button -->
    <button class="px-14 py-4 bg-transparent border-2 border-[#213A29] rounded-[500px] text-[#213A29] text-[16px] font-semibold mt-8 hover:bg-[#213A29] hover:text-[#FBE525] focus:bg-[#122017] focus:border-[#122017] focus:text-[#FBE525]">Iscriviti ora</button>
    <!--/ Sign Up Now button -->

</div>