<div class="w-full px-4 lg:px-[90px]">
    
    <!-- Header -->
    <div class="w-full flex items-start gap-6 mt-10">
        <app-left-arrow class="cursor-pointer mt-4" [routerLink]="['/profile']"></app-left-arrow>
        <h2 class="text-[#A39175] text-[35px]">Personal Information & Settings</h2>
    </div>
    <!-- Sub header -->
    <div class="w-full border-b border-[#A39175]">
        <p class="text-sm">Here you can update your details and change your account password.</p>
    </div>

    <div class="w-full lg:grid lg:grid-cols-2 lg:mt-10">
        <div class="w-full pb-8 border-b lg:border-r lg:border-b-0 border-[#CCC2B2] lg:pr-6">
            <app-update-user-form></app-update-user-form>
        </div>
        <div class="w-full pt-8 lg:pt-0 lg:pl-6">
            <app-update-password-form></app-update-password-form>
        </div>
    </div>

    <div class="w-full mt-10 border-t border-[#A39175] lg:mt-10">
        <app-additional-settings></app-additional-settings>
    </div>

</div>