<div class="w-full px-4 lg:px-[90px] pt-6">
        <!-- Header -->
    <div class="w-full flex flex-row justify-between items-center cursor-pointer" [routerLink]="['/shop/cart']">
        <app-left-arrow></app-left-arrow>
        <!-- Logo -->
        <div class="flex justify-center items-center lg:hidden" >
            <div class="w-[182px] h-12 rounded-full bg-[#FBE525] inline-flex justify-center items-center cursor-pointer" [routerLink]="['/']">
                <app-opla-logo dimensions="w-[90px] h-8" color="#213A29"></app-opla-logo>
            </div>
        </div>
        <!--/ Logo -->
        <!-- Process -->
        <div class="flex flex-row gap-2 lg:gap-40 lg:m-auto">
            <div class="lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-2">
                <p class="w-6 h-6 bg-[#FBE525] border-none rounded-full text-sm flex justify-center items-center opacity-50">1</p>
                <p class="hidden lg:block lg:text-[13px] lg:font-semibold lg:opacity-50">Anteprima</p>
            </div>
            <div class="lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-2">
                <p class="w-6 h-6 bg-[#FBE525] border-none rounded-full text-sm flex justify-center items-center">2</p>
                <p class="hidden lg:block lg:text-[13px]">Informazioni di Pagamento</p>
            </div>
            <div class="lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-2">
                <p class="w-6 h-6 bg-[#FBE525] border-none rounded-full text-sm flex justify-center items-center opacity-50">3</p>
                <p class="hidden lg:block lg:text-[13px] lg:opacity-50">Revisione</p>
            </div>
        </div>
        <!--/ Process -->
    </div>
    <!--/ Header -->
    <div class="w-full border-t-[1px] border-t-solid border-t-[#C2B6A3] mt-6"></div>
    <!-- Checkout Form -->
    <form action="" class="w-full flex flex-col justify-center gap-6 mt-6 lg:gap-80 lg:grid lg:grid-cols-2">
        <!-- Payment & Billing -->
        <div class="flex flex-col justify-center gap-6 lg:flex lg:flex-col lg:justify-center lg:items-center">
            <!-- Billing Information -->
            <form action="" class="w-full flex flex-col justify-center gap-6">
                <!-- Card Holder -->
                <div class="relative z-0 w-full group">
                    <input 
                        type="name"
                        id="name"
                        formControlName="name"
                        class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                        placeholder=""
                        autocomplete="off"
                        required />
                    <label
                        for="name"
                        class="absolute text-sm duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                        Nome Del Titolare Della Carta
                    </label>
                </div>
                <!--/ Card Holder -->
                <!-- Billing Address -->
                <div class="relative z-0 w-full group">
                    <input 
                        type="address"
                        id="address"
                        formControlName="address"
                        class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                        placeholder=""
                        autocomplete="off"
                        required />
                    <label
                        for="address"
                        class="absolute text-sm duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                        Indirizzo Di Fatturazione
                    </label>
                </div>
                <!--/ Billing Address -->
                <!-- Country -->
                <div class="w-full h-16 px-6 bg-transparent border-2 border-[#CCC2B2] border-solid rounded-[80px] flex flex-row justify-between items-center">
                    <p class="text-sm">Paese</p>
                    <app-arrow-icon dimension="w-6 h-6" color="#000"></app-arrow-icon>
                </div>
                <!--/ Country -->
                <!-- City & Postal Code -->
                <div class="flex flex-col justify-center gap-6 lg:flex-row lg:gap-0 lg:justify-between">
                    <!-- City -->
                    <div class="relative z-0 w-full group">
                        <input 
                            type="city"
                            id="city"
                            formControlName="city"
                            class="block w-full lg:w-[320px] h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                            placeholder=""
                            autocomplete="off"
                            required />
                        <label
                            for="city"
                            class="absolute text-sm duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                            Città
                        </label>
                    </div>
                    <!-- Postal Code -->
                    <div class="relative z-0 group">
                        <input 
                            type="postalcode"
                            id="postalcode"
                            formControlName="postalcode"
                            class="block w-[165px] h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                            placeholder=""
                            autocomplete="off"
                            required />
                        <label
                            for="postalcode"
                            class="absolute text-sm duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                            Codice Postale
                        </label>
                    </div>
                </div>
                <!--/ City & Postal Code -->
                <!-- VAT -->
                <div class="relative z-0 w-full group">
                    <input 
                        type="vat"
                        id="vat"
                        formControlName="vat"
                        class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                        placeholder=""
                        autocomplete="off"
                        required />
                    <label
                        for="vat"
                        class="absolute text-sm duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                        VAT / GST ID
                    </label>
                </div>
                <!--/ VAT -->
                <!-- Legal Co Checkbox -->
                <div class="w-full flex flex-row items-center gap-3">
                    <input type="checkbox" class="w-6 h-6 border-2 border-[#CCC2B2] rounded-[6px] bg-transparent hover:bg-[#F5F3F0] focus:ring-0 focus:bg-[#CCC2B2]">
                    <p class="text-[13px]">Ho un nome legale aziendale o un indirizzo di spedizione diverso</p>
                </div>
                <!--/ Legal Co Checkbox -->
                <!-- Legal Co Name -->
                <div class="relative z-0 w-full group">
                    <input 
                        type="name"
                        id="agency"
                        formControlName="agency"
                        class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                        placeholder=""
                        autocomplete="off"
                        required />
                    <label
                        for="agency"
                        class="absolute text-sm duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                        Nome Legale Azienda
                    </label>
                </div>
                <!--/ Legal Co Name -->
                <!-- Shipping Address -->
                <div class="relative z-0 w-full group">
                    <input 
                        type="address"
                        id="address"
                        formControlName="address"
                        class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                        placeholder=""
                        autocomplete="off"
                        required />
                    <label
                        for="address"
                        class="absolute text-sm duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                        Indirizzo di Spedizione
                    </label>
                </div>
                <!--/ Shipping Address -->
                <!-- Country -->
                <div class="w-full h-16 px-6 bg-transparent border-2 border-[#CCC2B2] border-solid rounded-[80px] flex flex-row justify-between items-center">
                    <p class="text-sm">Paese</p>
                    <app-arrow-icon dimension="w-6 h-6" color="#000"></app-arrow-icon>
                </div>
                <!--/ Country -->
                <!-- City & Postal Code -->
                <div class="flex flex-col justify-center gap-6 lg:flex-row lg:gap-0 lg:justify-between">
                    <!-- City -->
                    <div class="relative z-0 w-full group">
                        <input 
                            type="city"
                            id="city"
                            formControlName="city"
                            class="block w-full lg:w-[320px] h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                            placeholder=""
                            autocomplete="off"
                            required />
                        <label
                            for="city"
                            class="absolute text-sm duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                            Città
                        </label>
                    </div>
                    <!-- Postal Code -->
                    <div class="relative z-0 group">
                        <input 
                            type="postalcode"
                            id="postalcode"
                            formControlName="postalcode"
                            class="block w-[165px] h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                            placeholder=""
                            autocomplete="off"
                            required />
                        <label
                            for="postalcode"
                            class="absolute text-sm duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                            Codice Postale
                        </label>
                    </div>
                </div>
                <!--/ City & Postal Code -->
            </form>
            <!--/ Billing Information -->
        </div>
        <!--/ Payment & Billing -->
        <!-- Cart View -->
        <div class="w-full h-max p-6 bg-[#EBE7E0] border-none rounded-[20px] mt-10">
            <!-- Billing Cycle -->
            <div class="w-full pb-8 border-b-[1px] border-b-[#C2B6A3] flex flex-col gap-4">
                <p class="text-[20px] font-semibold">Ciclo di Fatturazione</p>
                <div class="flex flex-row gap-10">
                    <div class="w-max inline-flex justify-start items-center gap-4">
                        <input id="1" type="radio" value="1" class="w-6 h-6 text-[#5C503D] bg-transparent border-[#5C503D] border-2 focus:bg-[#FBE525] focus:ring-none focus:ring-0" />
                        <label for="1" class="text-base">Annuale</label>
                    </div>
                    <div class="w-max inline-flex justify-start items-center gap-4">
                        <input id="1" type="radio" value="1" class="w-6 h-6 text-[#5C503D] bg-transparent border-[#5C503D] border-2 focus:bg-[#FBE525] focus:ring-none focus:ring-0" />
                        <label for="1" class="text-base">Mensile</label>
                    </div>
                </div>
            </div>
            <!--/ Billing Cycle -->
            <!-- Plans -->
            <div class="w-full flex flex-col gap-1 my-5">
                <div class="w-full flex flex-row justify-between items-center">
                    <p class="text-sm lg:text-base">Chiave di Argento</p>
                    <div class="flex flex-row gap-2 items-center">
                        <p class="text-[#5C503D] text-sm lg:text-base">324€</p>
                        <p class="text-[17px] font-semibold lg:text-[20px]">228€</p>
                    </div>
                </div> 
                <div class="w-full flex flex-row justify-between items-center">
                    <p class="text-sm text-[#5C503D] lg:text-base">27€, 19€ x 12 mesi</p>
                    <p class="px-4 bg-[#417250] border-none rounded-[12px] text-[#DEECE3] text-[12px] flex justify-center items-center lg:text-[13px]">20% off</p>
                </div>
            </div>
            <!--/ Plans -->
            <!-- Total -->
            <div class="w-full flex flex-row justify-between items-center">
                <p class="text-sm lg:text-base">Totale</p>
                <p class="text-sm lg:text-base">228€</p>
            </div>
            <p class="w-full text-[#8A785B] text-[12px] lg:text-[13px]">Vedi il totale (incluse le tasse) nel Riepilogo</p>
            <!--/ Total -->
            <!-- Submit Button -->
            <button type="submit" class="w-full py-3 mt-6 bg-[#FBE525] border-none rounded-[500px] text-sm font-semibold hover:drop-shadow-[0px_0px_20px_#FBE525] focus:drop-shadow-none focus:bg-[#E1CB04]">Avanti: 3. Revisione</button>
            <!--/ Submit Button -->
        </div>
        <!--/ Cart View -->
    </form>
    <!--/ Checkout Form -->
</div>