<div id="add-payment-method-modal" tabindex="-1" aria-hidden="true" class="hidden bg-[#EBE7E0] lg:bg-[#B8AA94] lg:bg-opacity-80 overflow-y-scroll fixed top-0 right-0 left-0 z-50 px-4 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full">

    <!-- Header -->
    <div class="w-full mt-6 inline-flex justify-between items-center">
        <button type="button" class="w-12 h-12 inline-flex items-center justify-center cursor-pointer">
            <app-back-arrow dimensions="w-6 h-6" color="#000"></app-back-arrow>
        </button>
        <div class="w-full">
            <div class="max-w rounded-full bg-[#FBE525] inline-flex items-center justify-center h-12 w-48">
                <app-opla-logo dimensions="w-[90px] h-8" color="#213A29"></app-opla-logo>
            </div>
        </div>
        <div class="w-12 h-12"></div>
    </div>

    
</div>