<div class="w-full lg:flex lg:justify-between gap-10">
    
    <!-- Login -->
    <div *ngIf="type == 'login'" class="w-full lg:flex lg:flex-col lg:justify-center lg:order-1">
        <!-- Title -->
        <p class="text-2xl mt-4 lg:text-[31px] lg:mt-0">Accesso</p>
        <p class="text-sm mt-3 lg:text-[16px]">Accedi al tuo account Opla utilizzando la tua email</p>
        <!--/ Title -->

        <!-- Log In Form -->
        <form #f="ngForm" [formGroup]="loginForm" (ngSubmit)="doLogin()">

            <!-- Email -->
            <div class="relative z-0 w-full mt-10 group">
                <input 
                    type="email"
                    id="email"
                    formControlName="email"
                    [ngClass]="[loginForm.controls['email'].invalid && (loginForm.controls['email'].touched || loginForm.controls['email'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                    class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                    placeholder=""
                    required />
                <label
                    for="email"
                    [ngClass]="labelControl('email')"
                    class="absolute text-base duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                    Email
                </label>
            </div>
            <!--/ Email -->

            <!-- Password -->
            <div class="relative z-0 w-full mt-5 group">
                <input
                    type="password"
                    id="password"
                    formControlName="password"
                    [ngClass]="[loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                    class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                    placeholder="" 
                    required />
                <label 
                    for="password"
                    [ngClass]="labelControl('password')"
                    class="absolute text-base duration-300 transform -translate-y-6 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                    Password
                </label>
            </div>
            <!--/ Password -->

            <p (click)="type='forgot'" class="text-[10px] text-[#7D7102] mt-3 ml-6 mr-6 active:underline lg:text-[11px] px-1 py-0.5 bg-transparent hover:bg-[#FEF9CD] rounded-[5px] cursor-pointer">Hai dimenticato la password?</p>

            <!-- Google Login -->
            <!-- <a href="#" class="w-full py-3 bg-transparent border-2 border-[#FBE525] rounded-[26px] flex justify-center items-center gap-3 cursor-pointer mt-5 hover:bg-[#FBE525] hover:drop-shadow-[0px_0px_20px_rgba(251,229,37,1)] active:drop-shadow-none active:bg-[#E1CB04] active:border-none lg:mt-10">
                <app-google-logo></app-google-logo>
                <p class="text-sm">oppure accedi con Google</p>
            </a> -->
            <!--/ Google Login -->

            <!-- Login Button -->
            <input type="submit" class="w-full py-4 bg-[#FBE525] border-none rounded-[500px] text-sm font-semibold text-center mt-36 hover:drop-shadow-[0px_0px_20px_rgba(251,229,37,1)] active:drop-shadow-none active:bg-[#E1CB04] cursor-pointer lg:mt-16" value="Accesso">
            <!--/ Login Button -->

        </form>
        <!--/ Log In Form -->
    </div>

    <!-- Create Account -->
    <div *ngIf="type == 'login'" class="lg:max-w-[400px]">
        <!-- Create Account Block -->
        <div class="w-full px-4 py-5 bg-[#EBE7E0] rounded-[20px] mt-5 lg:bg-[#E0DAD1] lg:mt-0">
            <p class="text-sm lg:text-[16px]">Non hai un account?</p>
            <div class="lg:flex lg:flex-col lg:justify-center lg:items-center">
                <img src="http://167.99.247.80/Content/Register_User.webp" class="w-full h-[173px] my-7 lg:max-w-[281px] lg:h-[157px] lg:my-4">
                <button (click)="type = 'register'" class="w-full py-4 bg-transparent border-2 border-[#213a29] rounded-[500px] text-sm text-[#213a29] font-semibold flex justify-center items-center hover:bg-[#213A29] hover:text-[#FBE525] active:bg-[#122017] active:text-[#FBE525] lg:w-[270px] lg:text-[16px]">
                    Crea Account
                </button>
            </div>
        </div>
        <!--/ Create Account Up Block -->

        <!-- Create Business Account Block -->
        <div class="w-full px-4 py-5 bg-[#FCED69] rounded-[20px] mt-[10px]">
            <p class="text-sm lg:text-[16px]">Sei un'agenzia/agente immobiliare? </p>
            <div class="lg:flex lg:flex-col lg:justify-center lg:items-center">
            <img src="http://167.99.247.80/Content/Business_Account.webp" class="w-full h-[90px] my-7 lg:max-w-[258px] lg:h-[76px] lg:my-4">
            <button (click)="type = 'business-register'" class="w-full py-4 bg-[#CCC2B2] rounded-[500px] text-sm font-semibold flex justify-center items-center hover:drop-shadow-[0px_0px_20px_rgba(204,194,178,1)] active:drop-shadow-none active:bg-[#C2B6A3] lg:w-[270px] lg:text-[16px]">
                Crea un account business
            </button>
            </div>
        </div>
        <!--/ Create Business Account Block -->
    </div>
</div>

<div *ngIf="type == 'forgot'" class="w-full h-full">
    <app-forgot-password></app-forgot-password>
</div>

<div *ngIf="type == 'register'" class="w-full h-full">
    <app-register></app-register>
</div>

<div *ngIf="type == 'business-register'" class="w-full h-full">
    <app-business-registration></app-business-registration>
</div>