<div class="w-full">
    <form #f="ngForm" [formGroup]="typeForm" class="w-full" (change)="updateTypeForm()">
        <div class="w-full">

            <!-- Type -->
            <div class="w-full">
                <p class="text-base font-semibold">È in affitto o in vendita?</p>
                <div class="w-full max-w-[260px] rounded-full bg-[#CCC2B2] p-1 mt-6">
                    <ul class="grid w-full gap-[2px] grid-cols-2">
                        <!-- Rent -->
                        <li class="cursor-pointer">
                            <input type="radio" id="rent" name="rentOrSale" formControlName="rentOrSale" value="rent" class="hidden peer"/>
                            <label for="rent" class="w-full inline-flex justify-center items-center h-10 rounded-full bg-transparent peer-checked:bg-[#FCED69] text-sm">
                                Affitto
                            </label>
                        </li>
                        <!-- Buy -->
                        <li class="cursor-pointer">
                            <input type="radio" id="sale" name="rentOrSale" formControlName="rentOrSale" value="sale" class="hidden peer"/>
                            <label for="sale" class="w-full inline-flex justify-center items-center h-10 rounded-full bg-transparent peer-checked:bg-[#FCED69] text-sm">
                                Vendita
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- / Type -->

            <!-- Property Type -->
            <div class="w-full mt-10">
                <p class="text-base font-semibold">Seleziona la tipa dell'immobile</p>
                <div class="w-full mt-6 grid space-y-4">
                    <div *ngFor="let item of propertyTypes$ | async" class="w-max inline-flex justify-start items-center gap-4">
                        <input id="{{item.id}}" type="radio" [value]="item.id" name="propertyType" (click)="loadCategory(item.id)" formControlName="propertyType" class="w-6 h-6 text-[#5C503D] bg-transparent border-[#5C503D] focus:ring-none focus:ring-0" />
                        <label for="{{item.id}}" class="text-base">{{ item.typeName }}</label>
                    </div>
                </div>
            </div>
            <!-- / Poperty Type -->

            <!-- Property Category -->
            <div *ngIf="typeForm.value.propertyType == 1 || typeForm.value.propertyType == 2 || typeForm.value.propertyType == 3" class="w-full mt-10">
                <p class="text-base font-semibold">Seleziona la categoria dell'immobile</p>
                <div class="w-full mt-6 relative">
                    <button (click)="propertyCategory = (propertyCategory == false) ? true : false" type="button" class="h-12 w-[300px] inline-flex justify-between items-center px-4 bg-[#CCC2B2] rounded-full">
                        <p class="text-base">{{ typeForm.value.category }}</p>
                        <app-caret-down class="w-4 h-4" color="#000"></app-caret-down>
                    </button>
                    <div id="categories" *ngIf="propertyCategory" class="w-[300px] h-[288px] rounded-[20px] bg-[#CCC2B2] p-2 mt-1 overflow-y-scroll">
                        <ul class="w-full">
                            <li *ngFor="let item of propertyCategories" class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer"  (click)="typeForm.value.propertyCategory = item.propertyCategoryName; propertyCategory = false">{{ item.propertyCategoryName }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- / Property Category -->

            <!-- Comune zone -->
            <div class="w-full mt-10">
                <p class="text-base font-semibold">In quale zona si trova l'immobile?</p>
                <div class="w-full mt-6 relative">
                    <button (click)="province = (province == false) ? true : false" type="button" class="h-12 w-[300px] inline-flex justify-between items-center px-4 bg-[#CCC2B2] rounded-full">
                        <p class="text-base">{{ typeForm.value.province }}</p>
                        <app-caret-down class="w-4 h-4" color="#000"></app-caret-down>
                    </button>
                    <div *ngIf="province" id="province" class="w-[300px] h-[288px] rounded-[20px] bg-[#CCC2B2] p-2 mt-1 overflow-y-scroll">
                        <ul class="w-full">
                            <li *ngFor="let item of province$ | async" class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="changeProvince(item)">{{ item.province }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Comune zone -->

            <!-- Area zone -->
            <div *ngIf="cittas.length > 0" class="w-full mt-10">
                <div class="w-full relative">
                    <button (click)="citta = (citta == false) ? true : false" type="button" class="h-12 w-[300px] inline-flex justify-between items-center px-4 bg-[#CCC2B2] rounded-full">
                        <p class="text-base">{{ typeForm.value.citta }}</p>
                        <app-caret-down class="w-4 h-4" color="#000"></app-caret-down>
                    </button>
                    <div *ngIf="citta" id="citta" class="w-[300px] h-[288px] rounded-[20px] bg-[#CCC2B2] p-2 mt-1 overflow-y-scroll">
                        <ul class="w-full">
                            <li *ngFor="let item of cittas" class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="setCitta(item)">{{ item.citta }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- / Area zone -->

            <!-- Area zone -->
            <div *ngIf="comuni.length > 0" class="w-full mt-10">
                <div class="w-full relative">
                    <button (click)="comune = (comune == false) ? true : false" type="button" class="h-12 w-[300px] inline-flex justify-between items-center px-4 bg-[#CCC2B2] rounded-full">
                        <p class="text-base">{{ typeForm.value.comune }}</p>
                        <app-caret-down class="w-4 h-4" color="#000"></app-caret-down>
                    </button>
                    <div *ngIf="comune" id="comune" class="w-[300px] h-[288px] rounded-[20px] bg-[#CCC2B2] p-2 mt-1 overflow-y-scroll">
                        <ul class="w-full">
                            <li *ngFor="let item of comuni" class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="setComune(item)">{{ item.comune }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- / Area zone -->

            <!-- Address -->
            <div *ngIf="typeForm.value.comune != 'Scegli comune'" class="relative z-0 w-[420px] group mt-10">
                <input 
                    type="text"
                    id="address"
                    formControlName="address"
                    [ngClass]="[!typeForm.controls['address'].valid && (typeForm.controls['address'].touched || typeForm.controls['address'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                    class="block w-full h-16 items-center text-left px-4 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                    placeholder=""
                    autocomplete="off"
                    required />
                <label
                    for="address"
                    [ngClass]="labelControl('address')"
                    class="absolute text-base text-[#5C503D] duration-300 transform -translate-y-8 scale-75 top-5 left-4 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                    Address
                </label>
            </div>
            <!-- / Address -->

        </div>
    </form>
</div>