<div class="w-full px-4 lg:px-[90px] pt-6">

    <div class="w-full relative">

        <!-- Title -->
        <div class="w-full border-b border-[#A39175] pb-6 pt-8">
            <div class="inline-flex gap-4">
                <button type="button" class="w-12 h-12 inline-flex justify-center items-center mt-6 cursor-pointer" (click)="(step == 1) ? router.navigateByUrl('/profile') : backStep()">
                    <app-back-arrow dimensions="w-6 h-6" color="#000"></app-back-arrow>
                </button>
                <div class="w-full space-y-1">
                    <h1 class="text-[49px] text-[#A39175]">{{ title }}</h1>
                    <p class="text-base">{{ subTitle }}</p>
                </div>
            </div>
        </div>
        <div ngClass="{{barWidth}}" class="border-b-4 border-[#FBE525]"></div>
        <!-- / Title -->

        <!-- Step 1 -->
        <div [ngClass]="step == 1 ? 'block' : 'hidden'" class="w-full mt-8">
            <app-type></app-type>
        </div>

        <!-- Step 2 -->
        <div [ngClass]="step == 2 ? 'block' : 'hidden'" class="w-full mt-8">
            <app-characteristics></app-characteristics>
        </div>

        <!-- Step 3 -->
        <div [ngClass]="step == 3 ? 'block' : 'hidden'" class="w-full mt-8">
            <app-general-info></app-general-info>
        </div>

        <!-- Step 4 -->
        <div [ngClass]="step == 4 ? 'block' : 'hidden'" class="w-full mt-8">
            <app-review></app-review>
        </div>

    </div>
    
    <div *ngIf="step != 4" class="w-max absolute top-1/2 right-6">
        <button  type="button" (click)="nextStep()" class="w-max py-4 mt-10 bg-[#FBE525] rounded-full px-4 flex justify-between items-center border-none text-sm gap-4 font-semibold hover:drop-shadow-[0px_0px_20px_rgba(251,229,37,1)] active:drop-shadow-none active:bg-[#E1CB04] lg:max-w-[450px] lg:text-[16px] disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:drop-shadow-none">
            Avanti: {{ next }}
            <app-arrow-right dimensions="w-6 h-6" color="#000"></app-arrow-right>
        </button>
    </div>
</div>