<div class="w-full max-h-full h-[calc(100%)] z-50 overflow-y-scroll px-4 pb-8 pt-2 fixed left-0 right-0 top-0 bg-[#DFD9D0] items-center flex flex-col lg:px-[90px]">

    <app-left-arrow class="absolute top-5 left-4 lg:left-[90px] cursor-pointer" [routerLink]="['/']"></app-left-arrow>
    
    <!-- Logo -->
    <div class="w-full flex justify-center items-center lg:hidden" >
        <div class="w-[182px] h-12 rounded-full bg-[#FBE525] inline-flex justify-center items-center cursor-pointer" [routerLink]="['/']">
            <app-opla-logo dimensions="w-[90px] h-8" color="#213A29"></app-opla-logo>
        </div>
    </div>
    <!--/ Logo -->

    <!-- Text -->
    <p class="text-[17px] font-semibold text-center my-5 lg:text-[20px] lg:mt-5 lg:mb-10">Seleziona il pacchetto che meglio si adatta alle tue esigenze.</p>
    <!--/ Text -->

    <!-- Toggle -->
    <div class="w-full p-1 bg-[#CCC2B2] border-none rounded-full lg:max-w-[430px]">
        <ul class="w-full grid grid-cols-2 gap-[2px]">
            <li class="w-full h-[44px] inline-flex justify-center items-center rounded-full text-sm lg:text-[16px]">Fatturazione mensile</li>
            <li class="w-full h-[44px] flex flex-col justify-center items-center rounded-full text-sm lg:text-[16px]">Annuale<span class="text-[#539267] text-[12px] lg:text-[13px]">Annuale (Risparmia fino al 30%)</span></li>
        </ul>
    </div>
    <!--/ Toggle -->

    <!-- Plans -->
    <div class="w-full flex flex-col justify-center items-center mt-16 lg:flex-col-reverse">

        <!-- Free -->
        <div class="w-full p-8 bg-[#FEFCE6] border-none rounded-[20px] flex flex-col gap-5 lg:mt-4 lg:flex-row lg:justify-between lg:items-center lg:px-6 lg:py-8">
            <p class="text-[29px] text-[#4D4333] lg:text-[39px] lg:max-w-[30%]">Gratuito</p>
            <div class="flex flex-row items-center gap-4 lg:max-w-[30%]">
                <app-home-icon></app-home-icon>
                <div class="w-full flex flex-col">
                    <p class="text-[10px] lg:text-[11px]">Puoi registrare fino a</p>
                    <p class="text-[13px] lg:text-[16px]">1 Proprietà</p>
                </div>
            </div>
            <button class="w-full h-12 mt-5 flex justify-center items-center text-sm font-semibold border-2 border-sold border-[#CCC2B2] rounded-[500px] lg:mt-0 lg:text-[16px] lg:max-w-[30%] hover:drop-shadow-[0px_0px_30px_rgba(204,194,178,1)] hover:bg-[#CCC2B2] focus:bg-[#C2B6A3] focus:border-[#C2B6A3] focus:drop-shadow-none">Continua con il piano gratuito</button>
        </div>
        <!-- Free -->

        <!-- Paid Plans -->
        <div class="w-full flex flex-col justify-center items-center mt-4 gap-4 lg:mt-0 lg:flex-row">

            <!-- Bronze Key -->
            <div class="w-full p-8 bg-[#FEF9CD] border-none rounded-[20px] flex flex-col gap-3 lg:p-6 lg:gap-5">

                <!-- Banner -->
                <p class="text-[10px] text-white px-4 bg-[#AF9E03] border-none rounded-[12px] lg:text-[12px]">Chiave Di Bronzo</p>
                <!--/ Banner -->

                <!-- Price -->
                <div>
                    <p class="text-[29px] text-[#4D4333] lg:text-[39px]">€19<span class="text-sm text-[#4D4333] lg:text-[16px]">/mese</span></p>
                    <p class="text-[12px] text-[#8A785B] lg:text-[13px]">Fatturazione annuale: €228</p>
                </div>
                <!--/ Price -->

                <!-- Properties -->
                <div class="flex flex-row items-center gap-4 lg:flex-col lg:items-start lg:gap-3">
                    <app-home-icon></app-home-icon>
                    <div class="w-full flex flex-col">
                        <p class="text-[10px] lg:text-[12px]">Puoi registrare fino a</p>
                        <p class="text-[13px] lg:text-[20px]">3 Proprietà</p>
                    </div>
                </div>
                <!--/ Properties -->

                <!-- Button -->
                <button class="w-full h-12 mt-10 flex justify-center items-center text-sm font-semibold border-2 border-solid border-[#CCC2B2] rounded-[500px] lg:mt-16 lg:text-[16px] hover:drop-shadow-[0px_0px_30px_rgba(204,194,178,1)] hover:bg-[#CCC2B2] focus:bg-[#C2B6A3] focus:border-[#C2B6A3] focus:drop-shadow-none">Seleziona Piano</button>
                <!--/ Button -->

            </div>
            <!--/ Bronze Key -->

            <!-- Silver Key -->
            <div class="w-full p-8 bg-[#FDF39B] border-none rounded-[20px] flex flex-col gap-3 lg:p-6 lg:gap-5">

                <!-- Banner -->
                <p class="text-[10px] text-white px-4 bg-[#AF9E03] border-none rounded-[12px] lg:text-[12px]">Chiave Di Argento</p>
                <!--/ Banner -->

                <!-- Price -->
                <div>
                    <p class="text-[29px] text-[#4D4333] lg:text-[39px]">€49<span class="text-sm text-[#4D4333] lg:text-[16px]">/mese</span></p>
                    <p class="text-[12px] text-[#8A785B] lg:text-[13px]">Fatturazione Annuale: €588</p>
                </div>
                <!--/ Price -->

                <!-- Properties -->
                <div class="flex flex-row items-center gap-4 lg:flex-col lg:items-start lg:gap-3">
                    <app-home-icon></app-home-icon>
                    <div class="w-full flex flex-col">
                        <p class="text-[10px] lg:text-[12px]">Puoi registrare fino a</p>
                        <p class="text-[13px] lg:text-[20px]">12 Proprietà</p>
                    </div>
                </div>
                <!--/ Properties -->

                <!-- Button -->
                <button class="w-full h-12 mt-10 flex justify-center items-center text-sm font-semibold border-2 border-solid border-[#CCC2B2] rounded-[500px] lg:text-[16px] lg:mt-16 hover:drop-shadow-[0px_0px_30px_rgba(204,194,178,1)] hover:bg-[#CCC2B2] focus:bg-[#C2B6A3] focus:border-[#C2B6A3] focus:drop-shadow-none">Seleziona Piano</button>
                <!--/ Button -->

            </div>
            <!--/ Silver Key -->

            <!-- Gold Key -->
            <div class="w-full p-8 bg-[#FCF082] border-none rounded-[20px] flex flex-col gap-3 lg:p-6 lg:gap-5">

                <!-- Banner -->
                <p class="text-[10px] text-white px-4 bg-[#AF9E03] border-none rounded-[12px] lg:text-[12px]">Chiave Di Oro</p>
                <!--/ Banner -->

                <!-- Price -->
                <div>
                    <p class="text-[29px] text-[#4D4333] lg:text-[39px]">€99<span class="text-sm text-[#4D4333] lg:text-[16px]">/mese</span></p>
                    <p class="text-[12px] text-[#8A785B] lg:text-[13px]">Fatturazione Annuale: €1.188</p>
                </div>
                <!--/ Price -->

                <!-- Properties -->
                <div class="flex flex-row items-center gap-4 lg:flex-col lg:items-start lg:gap-3">
                    <app-home-icon></app-home-icon>
                    <div class="w-full flex flex-col">
                        <p class="text-[10px] lg:text-[12px]">Puoi registrare fino a</p>
                        <p class="text-[13px] lg:text-[20px]">19 Proprietà</p>
                    </div>
                </div>
                <!--/ Properties -->

                <!-- Button -->
                <button class="w-full h-12 mt-10 flex justify-center items-center text-sm font-semibold border-2 border-solid border-[#CCC2B2] rounded-[500px] lg:mt-16 lg:text-[16px] hover:drop-shadow-[0px_0px_30px_rgba(204,194,178,1)] hover:bg-[#CCC2B2] focus:bg-[#C2B6A3] focus:border-[#C2B6A3] focus:drop-shadow-none">Seleziona Piano</button>
                <!--/ Button -->

            </div>
            <!--/ Gold Key -->

            <!-- Platinum Key -->
            <div class="w-full p-8 bg-[#FCED69] border-none rounded-[20px] flex flex-col gap-3 lg:p-6 lg:gap-5">

                <!-- Banner -->
                <p class="text-[10px] text-white px-4 bg-[#AF9E03] border-none rounded-[12px] lg:text-[12px]">Chiave Di Platino</p>
                <!--/ Banner -->

                <!-- Price -->
                <div>
                    <p class="text-[29px] text-[#4D4333] lg:text-[39px]">€149<span class="text-sm text-[#4D4333] lg:text-[16px]">/mese</span></p>
                    <p class="text-[12px] text-[#8A785B] lg:text-[13px]">Fatturazione Annuale: €1.788</p>
                </div>
                <!--/ Price -->

                <!-- Properties -->
                <div class="flex flex-row items-center gap-4 lg:flex-col lg:items-start lg:gap-3">
                    <app-home-icon></app-home-icon>
                    <div class="w-full flex flex-col">
                        <p class="text-[10px] lg:text-[12px]">Puoi registrare fino a</p>
                        <p class="text-[13px] lg:text-[20px]">Proprietà Illimitate</p>
                    </div>
                </div>
                <!--/ Properties -->

                <!-- Button -->
                <button class="w-full h-12 mt-10 flex justify-center items-center text-sm font-semibold border-2 border-solid border-[#CCC2B2] rounded-[500px] lg:mt-16 lg:text-[16px] hover:drop-shadow-[0px_0px_30px_rgba(204,194,178,1)] hover:bg-[#CCC2B2] focus:bg-[#C2B6A3] focus:border-[#C2B6A3] focus:drop-shadow-none">Seleziona Piano</button>
                <!--/ Button -->

            </div>
            <!--/ Platinum Key -->

        </div>
        <!--/ Paid Plans-->

    </div>
    <!--/ Plans -->

</div>