<svg ngClass="{{dimensions}}" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_140_510)">
        <path [ngStyle]="{'stroke': color}" d="M3.75 9.75H5.25" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M6.16602 3.91602L7.22727 4.97727" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M12 1.5V3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M17.834 3.91602L16.7727 4.97727" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M20.25 9.75H18.75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M8.25 9.75C8.25 8.75544 8.64509 7.80161 9.34835 7.09835C10.0516 6.39509 11.0054 6 12 6C12.9946 6 13.9484 6.39509 14.6517 7.09835C15.3549 7.80161 15.75 8.75544 15.75 9.75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M2.25 20.25L6.06562 13.5H17.9344L21.75 20.25H2.25Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M4.36963 16.5H19.6303" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M14.2827 13.5L15.7499 20.25" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M8.25 20.25L9.71719 13.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
</svg>
