<div class="p-4 w-full lg:px-[90px] lg:flex lg:justify-center">
    <div class="pt-16 px-4 pb-4 bg-[#213A29] flex flex-col items-center border-none rounded-[30px] w-full lg:px-20 lg:pt-24 lg:max-w-[1100px]">
        
        <div class="lg:w-full lg:flex lg:flex-row lg:justify-between">
            <div class="lg:flex lg:flex-col lg:justify-center">
                <!-- Opla Immobiliare Logo -->
                <div class="flex justify-center w-full">
                    <app-opla-logo dimensions="w-[134px] h-12 lg:w-[201px] lg:h-[72px]" color="#FBE525"></app-opla-logo>
                </div>
            
                <!-- Social Icons -->
                <div class="flex flex-row justify-center gap-6 mt-12 w-full">
                    <app-linkedin-icon></app-linkedin-icon>
                    <app-instagram-icon></app-instagram-icon>
                    <app-x-icon></app-x-icon>
                </div>
            </div>
    
            <!-- Footer Menu  -->
            <div class="w-full flex flex-col mt-12 lg:flex-row lg:mt-0 lg:gap-36 lg:pl-[20%]">
                <ul class="text-[#AED1B9] text-sm space-y-4 lg:text-base">
                    <li class="hover:text-white">About Us</li>
                    <li [routerLink]="['/contact']" routerLinkActive="text-white" class="hover:text-white">Contact</li>
                    <li class="hover:text-white">Add Your Property</li>
                </ul>
                <ul class="text-[#AED1B9] text-sm space-y-4 mt-8 lg:mt-0 lg:text-base">
                    <li class="hover:text-white">Register As Professional</li>
                    <li class="hover:text-white">Register As Private</li>
                    <li class="hover:text-white">Log In</li>
                </ul>
            </div>
        </div>

        <!-- Line -->
        <div class="w-full border border-[#2E5139] mt-10"></div>

        <!-- Bottom Nav -->
        <div class="grid grid-cols-2 lg:grid-cols-3 items-center w-full space-y-6">
            <!-- Terms -->
            <div class="col-span-2 lg:col-span-1 flex justify-center mt-5 w-full px-4 lg:order-2">
                <ul class="text-[#BEDAC7] text-[11px] flex justify-between items-center w-full">
                    <li [routerLink]="['/terms-of-use']" routerLinkActive="text-white" class="hover:text-white">Terms Of Use</li>
                    <li [routerLink]="['/privacy-policy']" routerLinkActive="text-white" class="hover:text-white">Privacy Policy</li>
                    <li [routerLink]="['/cookies-policy']" routerLinkActive="text-white" class="hover:text-white">Cookie Policy</li>
                </ul>
            </div>
            <!-- / Terms -->

            <!-- Copyright -->
            <div class="justify-self-start lg:order-1">
                <p class="text-[#BEDAC7] text-[11px] font-normal">© 2024 Opla Immobiliare</p>
            </div>
            <!-- / Copyright -->
            
            <!-- Language -->
            <div class="justify-self-end lg:order-3">
                <div class="max-w-[145px] h-10 bg-[#2E5139] rounded-[24px] flex justify-between items-center px-5 gap-3 lg:gap-2">
                    <div class="flex flex-row gap-3">
                        <img class="w-5 h-auto" src="{{getCountryFlag('Italian')}}" alt="Italian" />
                        <p class="text-white text-[11px]">Italiano</p>
                    </div>
                    <app-arrow-icon></app-arrow-icon>
                </div>
            </div>
            <!-- / Language -->
        </div>
        <!-- / Bottom Nav -->    
    </div>
</div>