<div class="w-full max-h-full h-[calc(100%)] fixed top-0 right-0 left-0 px-4 pb-8 pt-2 z-50 bg-[#DFD9D0] lg:px-[90px] lg:pt-8">

    <!-- Header -->
    <div class="w-full flex flex-row justify-between items-center">

        <app-left-arrow></app-left-arrow>

        <!-- Logo -->
        <div class="flex justify-center items-center lg:hidden" >
            <div class="w-[182px] h-12 rounded-full bg-[#FBE525] inline-flex justify-center items-center cursor-pointer" [routerLink]="['/']">
                <app-opla-logo dimensions="w-[90px] h-8" color="#213A29"></app-opla-logo>
            </div>
        </div>
        <!--/ Logo -->

        <!-- Process -->
        <div class="flex flex-row gap-2 lg:gap-40 lg:m-auto">
            <div class="lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-2">
                <p class="w-6 h-6 bg-[#FBE525] border-none rounded-full text-sm flex justify-center items-center">1</p>
                <p class="hidden lg:block lg:text-[13px] lg:font-semibold">Anteprima</p>
            </div>
            <div class="lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-2">
                <p class="w-6 h-6 bg-[#FBE525] border-none rounded-full text-sm flex justify-center items-center opacity-50">2</p>
                <p class="hidden lg:block lg:text-[13px] lg:opacity-50">Informazioni di Pagamento</p>
            </div>
            <div class="lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-2">
                <p class="w-6 h-6 bg-[#FBE525] border-none rounded-full text-sm flex justify-center items-center opacity-50">3</p>
                <p class="hidden lg:block lg:text-[13px] lg:opacity-50">Revisione</p>
            </div>
        </div>
        <!--/ Process -->

    </div>
    <!--/ Header -->

    <div class="hidden lg:block lg:border-t-[1px] lg:border-t-solid lg:border-t-[#C2B6A3] lg:mt-6"></div>

    <div class="lg:flex lg:flex-col lg:justify-center lg:items-center">

        <!-- Billing Cycle -->
        <div class="w-full py-10 my-6 border-t-[1px] border-t-solid border-t-[#C2B6A3] border-b-[1px] border-b-solid border-b-[#C2B6A3] lg:border-t-0 lg:max-w-[700px] lg:my-0 lg:mb-6">

            <!-- Text -->
            <p class="text-[17px] font-semibold mb-10 lg:text-[25px]">Ciclo di Fatturazione</p>
            <!--/ Text -->

            <!-- Radio Buttons -->
            <div class="flex flex-row gap-16">

                <!-- Annual -->
                <div class="w-max inline-flex justify-start items-center gap-4">
                    <input id="1" type="radio" value="1" class="w-6 h-6 text-[#5C503D] bg-transparent border-[#5C503D] border-2 focus:bg-[#FBE525] focus:ring-none focus:ring-0" />
                    <label for="1" class="text-base">Annuale</label>
                </div>
                <!--/ Annual -->

                <!-- Monthly -->
                <div class="w-max inline-flex justify-start items-center gap-4">
                    <input id="1" type="radio" value="1" class="w-6 h-6 text-[#5C503D] bg-transparent border-[#5C503D] border-2 focus:bg-[#FBE525] focus:ring-none focus:ring-0" />
                    <label for="1" class="text-base">Mensile</label>
                </div>
                <!--/ Monthly -->

            </div>
            <!--/ Radio Buttons -->

        </div>
        <!--/ Billing Cycle -->

        <!-- Plans -->
        <div class="w-full flex flex-col gap-3 my-10 lg:max-w-[700px]">

            <div class="w-full flex flex-row justify-between items-center">
                <p class="text-sm lg:text-base">Chiave di Argento</p>
                <div class="flex flex-row gap-2 items-center">
                    <p class="text-[#5C503D] text-sm lg:text-base">324€</p>
                    <p class="text-[17px] font-semibold lg:text-[20px]">228€</p>
                </div>
            </div>

            <div class="w-full flex flex-row justify-between items-center">
                <p class="text-sm text-[#5C503D] lg:text-base">27€, 19€ x 12 mesi</p>
                <p class="px-4 bg-[#417250] border-none rounded-[12px] text-[#DEECE3] text-[12px] flex justify-center items-center lg:text-[13px]">20% off</p>
            </div>

        </div>
        <!--/ Plans -->

        <!-- Total -->
        <div class="w-full flex flex-row justify-between items-center lg:max-w-[700px]">
 
            <p class="text-sm lg:text-base">Totale</p>
            <p class="text-sm lg:text-base">228€</p>

        </div>
        <p class="w-full text-[#8A785B] text-[12px] mt-2 lg:max-w-[700px] lg:text-[13px]">Vedi il totale (incluse le tasse) nel Riepilogo</p>
        <!--/ Total-->

    </div>

    <!-- Button -->
    <div class="flex justify-end items-end">
        <button class="px-4 py-3 bg-[#FBE525] border-none rounded-[500px] text-sm font-semibold mt-20 hover:drop-shadow-[0px_0px_20px_#FBE525] focus:drop-shadow-none focus:bg-[#E1CB04] lg:px-6 lg:py-[20px] lg:text-base">Avanti: 2. Informazioni di Pagamento</button>
    </div>
    <!--/ Button -->

</div>