<table class="w-full mt-4">
    <!-- Square Area -->
    <tr class="w-full border-[2px] border-[#D6CEC2] rounded-t-[20px]">
        <td class="w-1/2 py-2 pl-3 border-[2px] border-[#D6CEC2]">
            <div class="inline-flex items-center gap-4">
                <app-map-pin-area-icon dimensions="w-6 h-6" color="#5C503D"></app-map-pin-area-icon>
                <p class="text-base">Square Area</p>
            </div>
        </td>
        <td class="w-1/2 pl-3">
            <p class="text-base text-[#5C503D]">{{ squareMetters }} &#13217;</p>
        </td>
    </tr>

    <!-- Price -->
    <tr class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-currency-euro-icon dimensions="w-6 h-6" color="#5C503D"></app-currency-euro-icon>
                <p class="text-base">Price</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ price | currency: 'EUR':'symbol':'1.2':'it' }} <span *ngIf="propertyFor == 0">/month</span></p>
        </td>
    </tr>

    <!-- Rooms -->
    <tr *ngIf="typeId == 1" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-bed-icon dimensions="w-6 h-6" color="#5C503D"></app-bed-icon>
                <p class="text-base">Rooms</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.numberOfRooms }}</p>
        </td>
    </tr>

    <!-- Bathrooms -->
    <tr *ngIf="typeId == 1" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-bathtub-icon dimensions="w-6 h-6" color="#5C503D"></app-bathtub-icon>
                <p class="text-base">Bathrooms</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.bathrooms }}</p>
        </td>
    </tr>

    <!-- Bathrooms -->
    <tr *ngIf="typeId == 1" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-bathtub-icon dimensions="w-6 h-6" color="#5C503D"></app-bathtub-icon>
                <p class="text-base">Bathrooms</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">1</p>
        </td>
    </tr>

    <!-- Kitchens -->
    <tr *ngIf="typeId == 1" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-bathtub-icon dimensions="w-6 h-6" color="#5C503D"></app-bathtub-icon>
                <p class="text-base">Kitchens</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.kitchens }}</p>
        </td>
    </tr>

    <!-- Living rooms -->
    <tr *ngIf="typeId == 1" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-arm-chair-icon dimensions="w-6 h-6" color="#5C503D"></app-arm-chair-icon>
                <p class="text-base">Living rooms</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.livingRooms }}</p>
        </td>
    </tr>

    <!-- EnergyClass -->
    <tr *ngIf="typeId == 1" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-light-bulb-filament-icon dimensions="w-6 h-6" color="#5C503D"></app-light-bulb-filament-icon>
                <p class="text-base">Energy Class</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D] bg-[#BAAC98] p-1 rounded w-max">{{ characteristics?.energyClass }}</p>
        </td>
    </tr>

    <!-- Floors -->
    <tr *ngIf="typeId == 1" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-steps-icon dimensions="w-6 h-6" color="#5C503D"></app-steps-icon>
                <p class="text-base">Floor</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.apartmentFloor }}</p>
        </td>
    </tr>

    <!-- Construction Year -->
    <tr *ngIf="typeId == 1" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-calendar-dots-icon dimensions="w-6 h-6" color="#5C503D"></app-calendar-dots-icon>
                <p class="text-base">Construction Year</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.renovationType }} &#124; {{ characteristics?.renovatedYear }}</p>
        </td>
    </tr>

    <!-- Parking Space -->
    <tr *ngIf="typeId == 1" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-parking-icon dimensions="w-6 h-6" color="#5C503D"></app-parking-icon>
                <p class="text-base">Parking Space</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.parkingSpaces }}, {{ characteristics?.parkingType }}</p>
        </td>
    </tr>

    <!-- Building Permit -->
    <tr *ngIf="typeId == 2" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-signature dimensions="w-6 h-6" color="#5C503D"></app-signature>
                <p class="text-base">Building Permit</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ (characteristics?.buildingPermit) ? 'Si' : 'No'}}</p>
        </td>
    </tr>

    <!-- Constrction Meter -->
    <tr *ngIf="typeId == 2 && characteristics?.constructionMeters != 0" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-shovel-icon dimensions="w-6 h-6" color="#5C503D"></app-shovel-icon>
                <p class="text-base">Construction Meters</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.constructionMeters }}</p>
        </td>
    </tr>

    <!-- Has building -->
    <tr *ngIf="typeId == 2 && characteristics?.buildingSquareMeters != null" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-barn-icon dimensions="w-6 h-6" color="#5C503D"></app-barn-icon>
                <p class="text-base">Building Square Meters</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.buildingSquareMeters }}</p>
        </td>
    </tr>

    <!-- Structure Factor -->
    <tr *ngIf="typeId == 2 && characteristics?.structureFactor != null" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-shovel-icon dimensions="w-6 h-6" color="#5C503D"></app-shovel-icon>
                <p class="text-base">Structure Factor</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.structureFactor }}</p>
        </td>
    </tr>

    <!-- Shape -->
    <tr *ngIf="typeId == 2 && characteristics?.shape != null" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-wave-sine-icon dimensions="w-6 h-6" color="#5C503D"></app-wave-sine-icon>
                <p class="text-base">Structure Factor</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.shape }}</p>
        </td>
    </tr>

    <!-- Frontage Length -->
    <tr *ngIf="typeId == 2 && characteristics?.frontageLength != 0" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-house-simple-icon dimensions="w-6 h-6" color="#5C503D"></app-house-simple-icon>
                <p class="text-base">Frontage Length</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ characteristics?.frontageLength }}</p>
        </td>
    </tr>

    <!-- City Plan -->
    <tr *ngIf="typeId == 2" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-city-icon dimensions="w-6 h-6" color="#5C503D"></app-city-icon>
                <p class="text-base">City Plan</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ (characteristics?.cityPlan) ? 'Si' : 'No' }}</p>
        </td>
    </tr>

    <!-- Available From -->
    <tr *ngIf="availableFrom != undefined" class="w-full border-[2px] border-[#D6CEC2] rounded-[20px]">
        <td class="w-1/2 py-2 pl-3">
            <div class="inline-flex items-center gap-4">
                <app-calendar-slash-icon dimensions="w-6 h-6" color="#5C503D"></app-calendar-slash-icon>
                <p class="text-base">Available From</p>
            </div>
        </td>
        <td class="w-1/2 pl-3 border-[2px] border-[#D6CEC2] rounded-[20px]">
            <p class="text-base text-[#5C503D]">{{ getDate(availableFrom) }}</p>
        </td>
    </tr>
</table>