<div class="w-full px-6 lg:px-[90px]">

    <!-- Header -->
    <div class="w-full mt-10">
        <h3 class="text-base text-[#8A785B]">Houses Rental: Legnanese &#40;1.152&#41;</h3>
    </div>

    <!-- Properties -->
    <div class="w-full mt-8">
        <app-property-card></app-property-card>
    </div>

    <!-- Pagination -->
    <div class="w-full mt-8">
        <div class="w-full inline-flex px-6 gap-3 justify-center items-center">
            <!-- previous -->
            <div class="w-10 h-10 inline-flex justify-center items-center mr-3">
                <app-caret-left-icon dimensions="w-6 h-6" color="#000"></app-caret-left-icon>
            </div>
            <!-- numbers -->
            <div class="w-10 h-10 inline-flex justify-center items-center rounded-full bg-[#FBE525]">
                1
            </div>
            <div class="w-10 h-10 inline-flex justify-center items-center rounded-full bg-[#FBE525]">
                1
            </div>
            <div class="w-10 h-10 inline-flex justify-center items-center rounded-full bg-[#FBE525]">
                1
            </div>
            <!-- next -->
            <div class="w-10 h-10 inline-flex justify-center items-center ml-3">
                <app-caret-right dimensions="w-6 h-6" color="#000"></app-caret-right>
            </div>
        </div>

        <div class="w-full mt-4 inline-flex flex-col justify-center items-center">
            <p class="text-xs text-[#B8AA94]">Go to page</p>
            <form class="w-max mt-2" #f="ngForm" [formGroup]="pageForm" (ngSubmit)="changePage()">
                <div class="w-max rounded-full bg-[#D6CEC2] inline-flex justify-center items-center gap-3 p-[2px]">
                    <input type="number" class="w-[72px] bg-[#DFD9D0] hover:bg-white focus:ring-0 h-8 border-none rounded-full text-xs text-[#5C503D] text-center" placeholder="23"/>
                    <button tye="submit" class="inline-flex justify-self-center items-center w-6 h-6">
                        <app-arrow-right dimensions="w-4 h-4" color="#5C503D"></app-arrow-right>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="w-full inline-flex justify-center items-center absolute bottom-12">
    <app-filters></app-filters>
</div>