<div class="w-full px-4 lg:px-[90px] pt-6">
    <!-- Header -->
    <div class="w-full flex flex-row justify-between items-center border-b-[1px] border-b-[#C2B6A3] pb-6">
        <app-left-arrow></app-left-arrow>
        <!-- Logo -->
        <div class="flex justify-center items-center lg:hidden" >
            <div class="w-[182px] h-12 rounded-full bg-[#FBE525] inline-flex justify-center items-center cursor-pointer" [routerLink]="['/']">
                <app-opla-logo dimensions="w-[90px] h-8" color="#213A29"></app-opla-logo>
            </div>
        </div>
        <!--/ Logo -->
        <!-- Process -->
        <div class="flex flex-row gap-2 lg:gap-40 lg:m-auto">
            <div class="lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-2">
                <p class="w-6 h-6 bg-[#FBE525] border-none rounded-full text-sm flex justify-center items-center opacity-50">1</p>
                <p class="hidden lg:block lg:text-[13px] lg:opacity-50">Anteprima</p>
            </div>
            <div class="lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-2">
                <p class="w-6 h-6 bg-[#FBE525] border-none rounded-full text-sm flex justify-center items-center opacity-50">2</p>
                <p class="hidden lg:block lg:text-[13px] lg:opacity-50">Informazioni di Pagamento</p>
            </div>
            <div class="lg:flex lg:flex-col lg:justify-center lg:items-center lg:gap-2">
                <p class="w-6 h-6 bg-[#FBE525] border-none rounded-full text-sm flex justify-center items-center">3</p>
                <p class="hidden lg:block lg:text-[13px] lg:font-semibold">Revisione</p>
            </div>
        </div>
        <!--/ Process -->
    </div>
    <!--/ Header -->
    <!-- Order Overview -->
    <div class="w-full py-6 flex flex-col gap-8 lg:max-w-[700px] lg:m-auto lg:justify-center lg:items-center">
        <!-- Plan -->
        <div class="w-full px-4 py-6 bg-[#EBE7E0] border-none rounded-[20px] flex flex-col gap-4">
            <!-- Plan Key -->
            <div class="w-full flex flex-col gap-1">
                <div class="w-full flex flex-row justify-between items-center">
                    <p class="text-sm lg:text-base">Chiave di Argento</p>
                    <p class="text-sm lg:text-base">228€</p>
                </div>
                <p class="text-sm text-[#5C503D] lg:text-base">19€ x 12 mesi</p>
            </div>
            <!--/ Plan Key -->
            <!-- Tax -->
            <div class="w-full flex flex-row justify-between items-center">
                <p class="text-sm lg:text-base">Tassa + 24%</p>
                <p class="text-sm lg:text-base">54,72€</p>
            </div>
            <!--/ Tax -->
            <div class="w-full border-b-2 border-b-[#D6CEC2]"></div>
            
            <!-- Total -->
            <div class="w-full flex flex-row justify-between items-center">
                <p class="text-sm font-semibold lg:text-base">Totale</p>
                <p class="text-sm font-semibold lg:text-base">282,72€</p>
            </div>
            <!--/ Total -->
            <!-- Text -->
            <p class="text-[10px] lg:text-[11px]">Il tuo abbonamento si rinnoverà automaticamente ogni anno per l'abbonamento annuale.</p>
            <!--/ Text -->
            <!-- Terms Checkbox -->
            <div class="w-full flex flex-row items-center gap-3">
                <input type="checkbox" class="w-6 h-6 bg-transparent border-[#CCC2B2] border-2 rounded-[6px]">
                <p class="text-[10px] lg:text-[11px]">Accetto i <span [routerLink]="['/']" class="text-[#7D7102] cursor-pointer focus:underline">Termini di Servizio</span>, l'<span [routerLink]="['/']" class="text-[#7D7102] focus:underline cursor-pointer">Informativa sulla Privacy</span>, e la <span [routerLink]="['/']" class="text-[#7D7102] focus:underline cursor-pointer">Politica di Cancellazione</span> di Oplà.</p>
            </div>
            <!--/ Terms Checkbox -->
        </div>
        <!--/ Plan -->
    </div>
    <!--/ Order Overview -->
    <div class="w-full inline-flex justify-center items-center flex-col">
        <div id="payment-element" class="w-full max-w-[700px]"></div>
        <!-- Button -->
        <button class="w-full py-3 mt-16 bg-[#FBE525] border-none rounded-[500px] text-base font-semibold hover:drop-shadow-[0px_0px_20px_#FBE525] focus:drop-shadow-none focus:bg-[#E1CB04] lg:max-w-[350px]">Completa l'acquisto</button>
        <!--/ Button -->
    </div>
</div>