<div class="w-full px-4 py-8 lg:max-w-[1010px] lg:h-[515px] lg:bg-[#EBE7E0] lg:p-8 lg:border-none lg:rounded-[30px] lg:flex lg:flex-col lg:justify-between lg:m-auto">

    <!-- Icons -->
    <div class="flex justify-between">
        <app-left-arrow></app-left-arrow>
        <app-cancel-icon class="hidden lg:block"></app-cancel-icon>
    </div>
    <!--/ Icons -->

    <div class="lg:flex lg:justify-between lg:items-center">

        <div class="w-full lg:max-w-[450px] lg:flex lg:flex-col">

            <!-- Text -->
            <p class="text-2xl mt-5 lg:text-[31px] lg:mt-0">Aggiungi una nuova password</p>
            <p class="text-sm mt-3 lg:text-[16px]">Inserisci una nuova password per accedere al tuo account.</p>
            <!--/ Text -->

        </div>

        <div class="w-full lg:max-w-[450px] lg:mr-6">

            <!-- Password -->
            <div class="relative z-0 w-full mt-10 group lg:mt-0">
                <input type="password" class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] lg:max-w-[450px] peer" placeholder=" " required />
                <label class="absolute text-sm duration-300 transform -translate-y-6 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">Inserisci Nuova Password</label>
            </div>
            <!--/ Password -->

            <!-- Subtext -->
            <p class="text-[10px] text-[#8A785B] mt-3 ml-6 lg:text-[11px]">La password deve essere composta da almeno 7 caratteri.</p>
            <!--/ Subtext -->

            <!-- Re-enter Password -->
            <div class="relative z-0 w-full mt-5 group">
                <input type="password" class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] lg:max-w-[450px] peer" placeholder=" " required />
                <label class="absolute text-sm duration-300 transform -translate-y-6 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">Per favore re-inserisci la tua nuova password</label>
            </div>
            <!--/ Re-enter Password -->

        </div>

    </div>

    <!-- Button -->
    <div class="lg:flex lg:justify-end lg:mr-6">
        <button type="submit" class="w-full py-4 bg-[#FBE525] border-none rounded-[500px] text-sm font-semibold mt-[340px] hover:drop-shadow-[0px_0px_20px_rgba(251,229,37,1)] active:drop-shadow-none active:bg-[#E1CB04] lg:mt-0 lg:max-w-[450px]">Cambia Password & Accedi</button>
    </div>
    <!--/ Button -->

</div>