<div class="w-full p-4 bg-transparent lg:bg-[#EBE7E0] border-none rounded-[30px] flex flex-col justify-center items-center lg:flex-row lg:justify-between lg:p-12 lg:my-20 lg:gap-10 lg:w-[1200px]">

    <!-- Text -->
    <div class="w-full flex flex-col gap-5">
        <p class="text-2xl">Aggiungi una nuova password</p>
        <p class="text-sm">Inserisci una nuova password per accedere al tuo account.</p>
    </div>
    <!--/ Text -->

    <!-- Password Form -->
    <form class="w-full flex flex-col gap-10 mt-10">

        <!-- New Password -->
        <div class="relative z-0 w-full group">
            <input 
                type="password"
                id="password"
                formControlName="password"
                class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                placeholder=""
                required />
            <label
                for="password"
                class="absolute text-base duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                Inserisci nuova password
            </label>
            <p class="text-xs text-[#8A785B] px-5 pt-2">La password deve essere composta da almeno 7 caratteri.</p>
        </div>
        <!--/ New Password -->

        <!-- Re-enter Password -->
        <div class="relative z-0 w-full group">
            <input 
                type="password"
                id="password"
                formControlName="password"
                class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                placeholder=""
                required />
            <label
                for="password"
                class="absolute text-base duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                Per favore re-inserisci la tua nuova password
            </label>
        </div>
        <!--/ Re-enter Password -->

        <!-- Submit -->
        <button type="submit" class="w-full h-12 mt-56 lg:mt-0 bg-[#FBE525] border-none rounded-[500px] text-sm font-semibold hover:drop-shadow-[0px_0px_20px_#FBE525] focus:drop-shadow-none focus:bg-[#E1CB04]">Cambia Password & Accedi</button>
        <!--/ Submit -->

    </form>
    <!--/ Password Form -->

</div>