<div class="w-full flex flex-row lg:justify-between">
    
    <!-- Opla Immobiliare Logo -->
    <div class="bg-[#FBE525] h-16 w-[153px] flex justify-center items-center rounded-br-[30px] absolute lg:w-[260px] lg:h-[96px] lg:relative">
        <app-opla-logo dimensions="w-[90px] h-[33px] lg:w-[150px] lg:h-[54px]" color="#213A29"></app-opla-logo>
    </div>
    <!--/ Opla Immobiliare Logo -->
    
    <!-- Sign In / Log In -->
    <div class="bg-[#CCC2B2] h-16 w-[153px] flex justify-center items-center rounded-br-[30px] ml-[113px] px-3 gap-2 lg:w-[152px] lg:h-12 lg:rounded-[25px] lg:mt-6 lg:mr-16">
        <p class="text-[#4D4333] text-[12px] font-semibold ml-10 lg:ml-0 lg:text-[13px]">Log In / Sign In</p>
        <app-right-arrow-icon class="lg:hidden"></app-right-arrow-icon>
    </div>
    <!--/ Sign In / Log In -->

</div>