<div [ngClass]="hideHeader()" class="w-full flex flex-row lg:justify-between">
    
    <!-- Opla Immobiliare Logo -->
    <div class="bg-[#FBE525] h-16 w-full max-w-[153px] flex justify-center items-center lg:rounded-full rounded-br-[30px] absolute lg:max-w-[182px] lg:h-12 lg:relative lg:mt-6">
        <app-opla-logo dimensions="w-[90px] h-[33px] lg:w-[110px] lg:h-[39px]" color="#213A29"></app-opla-logo>
    </div>
    <!--/ Opla Immobiliare Logo -->
    
    <!-- Sign In / Log In -->
    <app-top-right-action></app-top-right-action>
    <!--/ Sign In / Log In -->

</div>