<svg ngClass="{{dimensions}}" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_131_221)">
        <path [ngStyle]="{'stroke': color}" d="M1.5 18H22.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M22.5 4.5L1.5 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M6.75 18V12H17.25V18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M6.75 15H17.25" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M3 8.67773V17.9993" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M21 4.82227V18.0007" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
</svg>
