<div class="inline-flex justify-between items-center w-full">
    <p class="text-base font-semibold">Similar Properties</p>
</div>

<div id="similar-properties-carousel" class="w-full grid grid-cols-1 lg:grid-cols-4 mt-4">
    <div class="w-full p-4 rounded-[20px] bg-[#D6CEC2]">
        <div class="w-full">
            <img class="w-full h-[218px]" src="./assets/images/Gallery.png" alt="Property">
        </div>
        <!-- Pins -->
        <div class="w-full inline-flex flex-wrap gap-3 pt-4">
            <div class="inline-flex gap-3 px-2 py-2 rounded bg-[#EBE7E0]">
                <app-wave-square-icon dimensions="w-4 h-4" color="#5C503D"></app-wave-square-icon>
                <p class="text-[#5C503D] text-xs font-semibold">70 &#13217;</p>
            </div>
            <div class="inline-flex gap-3 px-2 py-2 rounded bg-[#EBE7E0]">
                <app-bathtub-icon dimensions="w-4 h-4" color="#5C503D"></app-bathtub-icon>
                <p class="text-[#5C503D] text-xs font-semibold">2 Baths</p>
            </div>
            <div class="inline-flex gap-3 px-2 py-2 rounded bg-[#EBE7E0]">
                <app-bed-icon dimensions="w-4 h-4" color="#5C503D"></app-bed-icon>
                <p class="text-[#5C503D] text-xs font-semibold">2 Rooms</p>
            </div>
        </div>
        <!-- Title -->
        <div class="w-full pt-6">
            <h1 class="text-lg">3-room in Via Bernardino Verro 78/a, Milano.</h1>
        </div>
    </div>
</div>