<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_415_2499)">
    <path d="M2.5 33.75H37.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M23.75 33.75V23.75H16.25V33.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M6.25 18.2344V33.7516" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M33.75 33.7516V18.2344" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M3.75 20.7338L19.1156 5.36661C19.2317 5.25039 19.3696 5.15819 19.5213 5.09528C19.6731 5.03238 19.8357 5 20 5C20.1643 5 20.3269 5.03238 20.4787 5.09528C20.6304 5.15819 20.7683 5.25039 20.8844 5.36661L36.25 20.7338" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
    <clipPath id="clip0_415_2499">
    <rect width="40" height="40" fill="white"/>
    </clipPath>
    </defs>
</svg>    