<div class=" w-full px-4 py-6 font-normal text-black">

    <app-back-arrow></app-back-arrow>
    
    <!-- Text -->
    <p class="text-[42px] mt-6">We're Listening</p>
    <p class="text-sm mt-3">If you have any question that you want to share with our team, we are here to listen.</p>
    <!--/ Text-->

    <!-- Image -->
    <div class="w-[230px] h-[209px]"></div>
    <!--/ Image -->

    <!-- Contact Form -->
    <form>

        <!-- Select Category -->
        <select></select>
        <!--/ Select Category -->

        <!-- Full Name -->
        <!--/ Full Name -->

        <!-- Email -->
        <!--/ Email -->

        <!-- Message -->
        <!--/ Message -->

        <!-- Send Message -->
        <!--/ Send Message -->
    
    </form>
        <!--/ Contact Form-->

</div>