<svg ngClass="{{dimensions}}" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_110_694)">
        <path [ngStyle]="{'stroke': color}" d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M17.25 20.25V9.75H6.75V20.25" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M12 20.25V9.75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path [ngStyle]="{'stroke': color}" d="M10.5 6.75H13.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
</svg>
