<div class="w-full max-h-full fixed top-0 right-0 left-0 px-4 pb-8 pt-2 z-50 overflow-y-scroll bg-[#DFD9D0] flex justify-center items-center lg:items-start h-[calc(100%)] md:inset-0">

    <div class="w-full max-w-[1000px]">

        <!-- Logo -->
        <app-left-arrow class="absolute top-5 left-4 cursor-pointer" [routerLink]="['/']"></app-left-arrow>
        <div class="w-full flex justify-center items-center" >
            <div class="w-[182px] h-12 rounded-full bg-[#FBE525] inline-flex justify-center items-center cursor-pointer" [routerLink]="['/']">
                <app-opla-logo dimensions="w-[90px] h-8" color="#213A29"></app-opla-logo>
            </div>
        </div>
        <!--/ Logo -->

        <!-- Header -->
        <h2 class="text-[#A39175] text-[35px] mt-5">Benvenuto, Partner!</h2>
        <!--/ Header -->

        <!-- Text -->
        <p class="text-sm mt-3">Abbiamo bisogno di alcune informazioni aggiuntive per attivare il tuo account.</p>
        <!--/ Text -->

        <!-- Completion Line -->
        <div class="w-full border-b-2 border-solid border-[#A39175] mt-5"></div>
        <div class="w-[50%] h-1 bg-[#FBE525]"></div>
        <!--/ Completion Line -->

        <!-- Additional Information Form -->
        <form #f="ngForm" class="w-full flex flex-col items-end lg:items-center" [formGroup]="additionalInfoForm" (ngSubmit)="submitAdditionalInfo()">

            <!-- Company's Name -->
            <div class="relative z-0 w-full mt-10 group lg:max-w-[500px]">
                <input 
                    type="name"
                    id="name"
                    formControlName="name"
                    [ngClass]="[!additionalInfoForm.controls['name'].valid && (additionalInfoForm.controls['name'].touched || additionalInfoForm.controls['name'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                    class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                    placeholder=""
                    autocomplete="off"
                    required />
                <label
                    for="name"
                    [ngClass]="labelControl('name')"
                    class="absolute text-base duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                    Nome dell'azienda
                </label>
            </div>
            <!--/ Company's Name -->

            <!-- Country -->
            <div class="w-full h-16 px-6 mt-5 bg-transparent border-2 border-[#CCC2B2] border-solid rounded-[80px] flex flex-row justify-between items-center lg:max-w-[500px]">
                <p class="text-base">Paese</p>
                <app-arrow-icon dimension="w-6 h-6" color="#000"></app-arrow-icon>
            </div>
            <!--/ Country -->

            <!-- Area/Region -->
            <div class="relative z-0 w-full mt-5 group lg:max-w-[500px]">
                <input 
                    type="area"
                    id="area"
                    formControlName="area"
                    [ngClass]="[!additionalInfoForm.controls['area'].valid && (additionalInfoForm.controls['area'].touched || additionalInfoForm.controls['area'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                    class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                    placeholder=""
                    autocomplete="off"
                    required />
                <label
                    for="area"
                    [ngClass]="labelControl('area')"
                    class="absolute text-base duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                    Zona
                </label>
            </div>
            <!--/ Area/Region -->

            <!-- Tax Number -->
            <div class="relative z-0 w-full mt-5 group lg:max-w-[500px]">
                <input 
                    type="taxnumber"
                    id="taxnumber"
                    formControlName="taxnumber"
                    [ngClass]="[!additionalInfoForm.controls['taxnumber'].valid && (additionalInfoForm.controls['taxnumber'].touched || additionalInfoForm.controls['taxnumber'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                    class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                    placeholder=""
                    autocomplete="off"
                    required />
                <label
                    for="taxnumber"
                    [ngClass]="labelControl('taxnumber')"
                    class="absolute text-base duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                    Numero di partita IVA
                </label>
            </div>
            <!--/ Tax Number -->

            <!-- Phone -->
            <div class="w-full flex mt-5 lg:max-w-[500px]">

                <!-- Phone Code -->
                <div class="flex items-center gap-4 px-6 rounded-l-[20px] border-2 border-[#CCC2B2] h-16 w-max">
                    <label for="phone" class="w-max"></label>
                    <button id="phonecode-dropdown" data-dropdown-toggle="phonecodes">
                        <app-arrow-icon dimension="w-4 h-4" color="#000"></app-arrow-icon>
                    </button>
                    <div id="phonecodes" class="z-10 hidden bg-[#CCC2B2] p-6 w-max h-96 overflow-y-scroll rounded-[20px] devide-y">
                        <ul class="space-y-4 text-sm" aria-labelledby="phonecode-dropdown">
                            <li *ngFor="let code of countryCodesList | keyvalue" (click)="additionalInfoForm.value.phoneCode = code.value">{{ code.value }}</li>
                        </ul>
                    </div>
                </div>
                <!--/ Phone Code -->

                <!-- Number -->
                <div class="relative z-0 w-full group">
                    <input 
                        type="phone"
                        id="phone"
                        formControlName="phone"
                        [ngClass]="[!additionalInfoForm.controls['phone'].valid && (additionalInfoForm.controls['phone'].touched || additionalInfoForm.controls['phone'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                        class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-l-0 border-[#CCC2B2] rounded-r-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                        placeholder=""
                        autocomplete="off"
                        required />
                    <label
                        for="phone"
                        [ngClass]="labelControl('phone')"
                        class="absolute text-base duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                        Telefono
                    </label>
                </div>
                <!--/ Number -->

            </div>
            <!--/ Phone -->

            <!-- Manager's Full Name -->
            <div class="relative z-0 w-full mt-5 group lg:max-w-[500px]">
                <input 
                    type="manager"
                    id="manager"
                    formControlName="manager"
                    [ngClass]="[!additionalInfoForm.controls['manager'].valid && (additionalInfoForm.controls['manager'].touched || additionalInfoForm.controls['manager'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                    class="block w-full h-16 items-center px-6 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                    placeholder=""
                    autocomplete="off"
                    required />
                <label
                    for="manager"
                    [ngClass]="labelControl('manager')"
                    class="absolute text-base duration-300 transform -translate-y-8 scale-75 top-5 left-6 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                    Nome completo del manager
                </label>
            </div>
            <!--/ Manager's Full Name -->

            <!-- Button -->
            <button
                [disabled]="additionalInfoForm.invalid"
                type="submit" 
                class="w-full max-w-[185px] py-4 mt-10 bg-[#FBE525] rounded-[500px] flex justify-center items-center border-none text-sm font-semibold hover:drop-shadow-[0px_0px_20px_rgba(251,229,37,1)] active:drop-shadow-none active:bg-[#E1CB04] lg:max-w-[250px] lg:text-[16px] disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:drop-shadow-none">
                Avanti
            </button>
            <!--/ Button -->

        </form>
        <!--/ Additional Information Form -->

    </div>

</div>