<div class="w-full pb-16">
    <form class="w-full" #f="ngForm" [formGroup]="generalInfoForm" (change)="updateGeneralInfoForm()">
        <table class="w-full border-none">

            <!-- Alias -->
            <tr class="w-full">
                <td class="w-1/4 py-4">
                    <div class="inline-flex items-center gap-4">
                        <p class="text-base font-semibold">Alias</p>
                    </div>
                </td>
                <td class="w-3/4 pl-6">
                    <div class="relative z-0 w-[420px] group">
                        <input 
                            type="text"
                            id="alias"
                            formControlName="alias"
                            [ngClass]="[!generalInfoForm.controls['alias'].valid && (generalInfoForm.controls['alias'].touched || generalInfoForm.controls['alias'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                            class="block w-full max-w-[480px] h-16 items-center text-left px-4 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                            placeholder=""
                            autocomplete="off"
                            required />
                        <label
                            for="alias"
                            [ngClass]="labelControl('alias')"
                            class="absolute text-base text-[#5C503D] duration-300 transform -translate-y-8 scale-75 top-5 left-4 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                            Property title
                        </label>
                    </div>
                </td>
            </tr>

            <!-- Access From -->
            <tr class="w-full mt-6">
                <td class="w-1/4 py-4">
                    <div class="inline-flex items-center gap-4">
                        <p class="text-base font-semibold">Accesso da</p>
                    </div>
                </td>
                <td class="w-3/4 pl-6">
                    <div class="w-full relative">
                        <button (click)="acceessFrom = (acceessFrom) ? false : true" type="button" class="h-12 w-[300px] inline-flex justify-between items-center px-4 bg-[#CCC2B2] rounded-full">
                            <p class="text-base">{{ generalInfoForm.value.acceessFrom }}</p>
                            <app-caret-down class="w-4 h-4" color="#000"></app-caret-down>
                        </button>
                        <div *ngIf="acceessFrom" class="absolute top-[52px] w-[300px] h-[max] rounded-[20px] bg-[#CCC2B2] p-2 z-50">
                            <ul class="w-full">
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.acceessFrom = 'Strada'; updateGeneralInfoForm(); acceessFrom=false;">Strada</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.acceessFrom = 'Marciapiede'; updateGeneralInfoForm(); acceessFrom=false;">Marciapiede</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.acceessFrom = 'Pavimentato'; updateGeneralInfoForm(); acceessFrom=false;">Pavimentato</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.acceessFrom = 'Strada Sterrata'; updateGeneralInfoForm(); acceessFrom=false;">Strada Sterrata</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.acceessFrom = 'Mare'; updateGeneralInfoForm(); acceessFrom=false;">Mare</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.acceessFrom = 'Senza Accesso'; updateGeneralInfoForm(); acceessFrom=false;">Senza Accesso</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.acceessFrom = 'Altro'; updateGeneralInfoForm(); acceessFrom=false;">Altro</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- Accessibility -->
            <tr class="w-full">
                <td class="w-1/4 py-6">
                    <div class="inline-flex items-center gap-4">
                        <app-wheelchair-icon dimensions="w-6 h-6" color="#5C503D"></app-wheelchair-icon>
                        <p class="text-base font-semibold">Privo di barriere architettoniche?</p>
                    </div>
                </td>
                <td class="w-3/4 pl-6">
                    <div [ngClass]="generalInfoForm.value.accessibillity == 'yesAccess' ? 'bg-[#FBE525]' : 'bg-[#EBE7E0]'" class="w-max p-[2px] rounded-full">
                        <ul class="w-full grid grid-cols-2 gap-[2px]">
                            <li class="cursor-pointer">
                                <input type="radio" id="noAccess" value="noAccess" name="accessibillity" formControlName="accessibillity" class="peer hidden">
                                <label for="noAccess" class="w-10 inline-flex justify-center items-center h-10 rounded-full bg-transparent peer-checked:bg-[#5C503D] peer-checked:text-white text-xs">
                                    No
                                </label>
                            </li>
                            <li class="cursor-pointer">
                                <input type="radio" id="yesAccess" name="accessibillity" formControlName="accessibillity" value="yesAccess" class="peer hidden">
                                <label for="yesAccess" class="w-10 inline-flex justify-center items-center h-10 rounded-full bg-transparent peer-checked:bg-[#5C503D] peer-checked:text-white text-xs">
                                    Si
                                </label>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>

            <!-- View -->
            <tr class="w-full">
                <td class="w-1/4 py-6">
                    <div class="inline-flex items-center gap-4">
                        <p class="text-base font-semibold">Vista</p>
                    </div>
                </td>
                <td class="w-3/4 pl-6">
                    <div [ngClass]="generalInfoForm.value.view == 'yesView' ? 'w-[400px]' : 'w-max'" class="bg-[#EBE7E0] p-1 rounded-full inline-flex justify-between items-center">
                        <ul [ngClass]="generalInfoForm.value.view == 'yesView' ? 'bg-[#FBE525]' : 'bg-transparent'" class="grid w-max grid-cols-2 rounded-full">
                            <!-- Rent -->
                            <li class="cursor-pointer">
                                <input type="radio" id="noView" name="view" formControlName="view" value="noView" class="hidden peer"/>
                                <label for="noView" class="w-10 inline-flex justify-center items-center h-10 rounded-full bg-transparent peer-checked:bg-[#5C503D] peer-checked:text-white text-xs">
                                    No
                                </label>
                            </li>
                            <!-- Buy -->
                            <li class="cursor-pointer">
                                <input type="radio" id="yesView" name="view" formControlName="view" value="yesView" class="hidden peer"/>
                                <label for="yesView" class="w-10 inline-flex justify-center items-center h-10 rounded-full bg-transparent peer-checked:bg-[#5C503D] peer-checked:text-white text-xs">
                                    si
                                </label>
                            </li>
                        </ul>
                        <div [ngClass]="generalInfoForm.value.view == 'yesView' ? 'block' : 'hidden'" class="w-max relative">
                            <button (click)="viewType = (viewType) ? false : true" type="button" class="h-12 w-[244px] inline-flex justify-between items-center px-4 bg-[#CCC2B2] rounded-full">
                                <p class="text-base">{{ generalInfoForm.value.viewType }}</p>
                                <app-caret-down class="w-4 h-4" color="#000"></app-caret-down>
                            </button>
                            <div *ngIf="viewType" class="absolute top-[52px] w-[300px] h-[max] rounded-[20px] bg-[#CCC2B2] p-2 z-50">
                                <ul class="w-full">
                                    <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.viewType = 'Mare'; updateGeneralInfoForm(); viewType=false;">Mare</li>
                                    <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.viewType = 'Montagna'; updateGeneralInfoForm(); viewType=false;">Montagna</li>
                                    <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.viewType = 'Vista di Apertura'; updateGeneralInfoForm(); viewType=false;">Vista di Apertura</li>
                                    <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.viewType = 'Città'; updateGeneralInfoForm(); viewType=false;">Città</li>
                                    <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.viewType = 'Pianura'; updateGeneralInfoForm(); viewType=false;">Pianura</li>
                                    <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.viewType = 'Foresta'; updateGeneralInfoForm(); viewType=false;">Foresta</li>
                                    <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.viewType = 'Parco'; updateGeneralInfoForm(); viewType=false;">Parco</li>
                                    <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.viewType = 'Piazza'; updateGeneralInfoForm(); viewType=false;">Piazza</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- Positioning -->
            <tr class="w-full">
                <td class="w-1/4 py-6">
                    <div class="inline-flex items-center gap-4">
                        <p class="text-base font-semibold">Posizionamento</p>
                    </div>
                </td>
                <td class="w-3/4 pl-6">
                    <div class="w-full relative">
                        <button (click)="positioning = (positioning) ? false : true" type="button" class="h-12 w-[300px] inline-flex justify-between items-center px-4 bg-[#CCC2B2] rounded-full">
                            <p class="text-base">{{ generalInfoForm.value.positioning }}</p>
                            <app-caret-down class="w-4 h-4" color="#000"></app-caret-down>
                        </button>
                        <div *ngIf="positioning" class="absolute top-[52px] w-[300px] h-[max] rounded-[20px] bg-[#CCC2B2] p-2 z-50">
                            <ul class="w-full">
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.positioning = 'Angolo'; updateGeneralInfoForm(); positioning=false;">Angolo</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.positioning = 'Facciata'; updateGeneralInfoForm(); positioning=false;">Facciata</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.positioning = 'Interione'; updateGeneralInfoForm(); positioning=false;">Interione</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.positioning = 'Lato'; updateGeneralInfoForm(); positioning=false;">Lato</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.positioning = 'Trasparente'; updateGeneralInfoForm(); positioning=false;">Trasparente</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.positioning = 'Luminoso'; updateGeneralInfoForm(); positioning=false;">Luminoso</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.positioning = 'Tre-Lati'; updateGeneralInfoForm(); positioning=false;">Tre-Lati</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- Zone -->
            <tr class="w-full">
                <td class="w-1/4 py-6">
                    <div class="inline-flex items-center gap-4">
                        <p class="text-base font-semibold">Zona</p>
                    </div>
                </td>
                <td class="w-3/4 pl-6">
                    <div class="w-full relative">
                        <button (click)="zone = (zone) ? false : true" type="button" class="h-12 w-[300px] inline-flex justify-between items-center px-4 bg-[#CCC2B2] rounded-full">
                            <p class="text-base">{{ generalInfoForm.value.zone }}</p>
                            <app-caret-down class="w-4 h-4" color="#000"></app-caret-down>
                        </button>
                        <div *ngIf="zone" class="absolute top-[52px] w-[300px] h-[max] rounded-[20px] bg-[#CCC2B2] p-2 z-50">
                            <ul class="w-full">
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.zone = 'Residenziale'; updateGeneralInfoForm(); zone=false">Residenziale</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.zone = 'Commerciale'; updateGeneralInfoForm(); zone=false">Commerciale</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.zone = 'Agricolo'; updateGeneralInfoForm(); zone=false">Agricolo</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.zone = 'Industriale'; updateGeneralInfoForm(); zone=false">Industriale</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.zone = 'Rigenerazione'; updateGeneralInfoForm(); zone=false">Rigenerazione</li>
                                <li class="w-full px-2 py-3 hover:bg-[#D6CEC2] rounded-[10px] cursor-pointer" (click)="generalInfoForm.value.zone = 'Fuori piano'; updateGeneralInfoForm(); zone=false">Fuori piano</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="w-full">
                <td class="w-1/4 py-6">
                    <div class="inline-flex items-center gap-4">
                        <p class="text-base font-semibold">Disponibile da</p>
                    </div>
                </td>
                <td class="w-3/4 pl-6">
                    <div class="relative z-0 w-[220px] group">
                        <input 
                            type="text"
                            id="availableFrom"
                            formControlName="availableFrom"
                            [ngClass]="[!generalInfoForm.controls['availableFrom'].valid && (generalInfoForm.controls['availableFrom'].touched || generalInfoForm.controls['availableFrom'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                            class="block w-full max-w-[220px] h-16 items-center text-center px-4 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                            placeholder=""
                            autocomplete="off"
                            required />
                        <label
                            for="availableFrom"
                            [ngClass]="labelControl('availableFrom')"
                            class="absolute text-base text-[#5C503D] duration-300 transform -translate-y-8 scale-75 top-5 left-4 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                            Giorno/Mese/Anno
                        </label>
                    </div>
                </td>
            </tr>            
        </table>

        <div class="w-full mt-10">
            <div class="w-full inline-flex items-center gap-3">
                <p class="text-base font-semibold w-[200px]">Punti di interesse</p>
                <div class="w-full border-b border-[#C2B6A3]"></div>
            </div>

            <table class="w-full border-none pt-8">
                <!-- distanceFromSea -->
                <tr class="w-full">
                    <td class="w-1/4 py-6">
                        <div class="inline-flex items-center gap-4">
                            <p class="text-base font-semibold">Distanza da Mare</p>
                        </div>
                    </td>
                    <td class="w-3/4 pl-6">
                        <div class="relative z-0 w-[220px] group">
                            <input 
                                type="text"
                                id="distanceFromSea"
                                formControlName="distanceFromSea"
                                [ngClass]="[!generalInfoForm.controls['distanceFromSea'].valid && (generalInfoForm.controls['distanceFromSea'].touched || generalInfoForm.controls['distanceFromSea'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                                class="block w-full max-w-[220px] h-16 items-center text-center px-4 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                                placeholder=""
                                autocomplete="off"
                                required />
                            <label
                                for="distanceFromSea"
                                [ngClass]="labelControl('distanceFromSea')"
                                class="absolute text-base text-[#5C503D] duration-300 transform -translate-y-8 scale-75 top-5 left-4 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                                Metri
                            </label>
                            <label class="absolute right-5 top-5 text-[#5C503D] text-base">m</label>
                        </div>
                    </td>
                </tr>     

                <!-- distanceFromCity -->
                <tr class="w-full">
                    <td class="w-1/4 py-6">
                        <div class="inline-flex items-center gap-4">
                            <p class="text-base font-semibold">Distanza da Città</p>
                        </div>
                    </td>
                    <td class="w-3/4 pl-6">
                        <div class="relative z-0 w-[220px] group">
                            <input 
                                type="text"
                                id="distanceFromCity"
                                formControlName="distanceFromCity"
                                [ngClass]="[!generalInfoForm.controls['distanceFromCity'].valid && (generalInfoForm.controls['distanceFromCity'].touched || generalInfoForm.controls['distanceFromCity'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                                class="block w-full max-w-[220px] h-16 items-center text-center px-4 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                                placeholder=""
                                autocomplete="off"
                                required />
                            <label
                                for="distanceFromCity"
                                [ngClass]="labelControl('distanceFromCity')"
                                class="absolute text-base text-[#5C503D] duration-300 transform -translate-y-8 scale-75 top-5 left-4 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                                Metri
                            </label>
                            <label class="absolute right-5 top-5 text-[#5C503D] text-base">m</label>
                        </div>
                    </td>
                </tr>
                
                <!-- distanceFromCenter -->
                <tr class="w-full">
                    <td class="w-1/4 py-6">
                        <div class="inline-flex items-center gap-4">
                            <p class="text-base font-semibold">Distanza da Centro</p>
                        </div>
                    </td>
                    <td class="w-3/4 pl-6">
                        <div class="relative z-0 w-[220px] group">
                            <input 
                                type="text"
                                id="distanceFromCenter"
                                formControlName="distanceFromCenter"
                                [ngClass]="[!generalInfoForm.controls['distanceFromCenter'].valid && (generalInfoForm.controls['distanceFromCenter'].touched || generalInfoForm.controls['distanceFromCenter'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                                class="block w-full max-w-[220px] h-16 items-center text-center px-4 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                                placeholder=""
                                autocomplete="off"
                                required />
                            <label
                                for="distanceFromCenter"
                                [ngClass]="labelControl('distanceFromCenter')"
                                class="absolute text-base text-[#5C503D] duration-300 transform -translate-y-8 scale-75 top-5 left-4 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                                Metri
                            </label>
                            <label class="absolute right-5 top-5 text-[#5C503D] text-base">m</label>
                        </div>
                    </td>
                </tr>

                <!-- distanceFromAirport -->
                <tr class="w-full">
                    <td class="w-1/4 py-6">
                        <div class="inline-flex items-center gap-4">
                            <p class="text-base font-semibold">Distanza da Aeroporto</p>
                        </div>
                    </td>
                    <td class="w-3/4 pl-6">
                        <div class="relative z-0 w-[220px] group">
                            <input 
                                type="text"
                                id="distanceFromAirport"
                                formControlName="distanceFromAirport"
                                [ngClass]="[!generalInfoForm.controls['distanceFromAirport'].valid && (generalInfoForm.controls['distanceFromAirport'].touched || generalInfoForm.controls['distanceFromAirport'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                                class="block w-full max-w-[220px] h-16 items-center text-center px-4 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                                placeholder=""
                                autocomplete="off"
                                required />
                            <label
                                for="distanceFromAirport"
                                [ngClass]="labelControl('distanceFromAirport')"
                                class="absolute text-base text-[#5C503D] duration-300 transform -translate-y-8 scale-75 top-5 left-4 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                                Metri
                            </label>
                            <label class="absolute right-5 top-5 text-[#5C503D] text-base">m</label>
                        </div>
                    </td>
                </tr>

                <!-- near to -->
                <tr class="w-full">
                    <td class="w-1/4 py-6">
                        <div class="inline-flex items-center gap-4">
                            <p class="text-base font-semibold">Vicino a:</p>
                        </div>
                    </td>
                    <td class="w-3/4 pl-6">
                        <div class="relative z-0 w-[220px] group">
                            <input 
                                type="text"
                                id="nearTo"
                                formControlName="nearTo"
                                [ngClass]="[!generalInfoForm.controls['nearTo'].valid && (generalInfoForm.controls['nearTo'].touched || generalInfoForm.controls['nearTo'].dirty) ? 'border-[#FF5449] focus:border-[#FF5449]' : '']"
                                class="block w-full max-w-[500px] h-16 items-center text-center px-4 text-sm text-black bg-transparent border-2 border-[#CCC2B2] rounded-[20px] appearance-none focus:bg-[#F5F3F0] focus:outline-none focus:ring-0 focus:border-[3px] focus:border-[#CCC2B2] hover:bg-[#F5F3F0] peer"
                                placeholder=""
                                autocomplete="off"
                                required />
                            <label
                                for="nearTo"
                                [ngClass]="labelControl('nearTo')"
                                class="absolute text-base text-[#5C503D] duration-300 transform -translate-y-8 scale-75 top-5 left-4 z-10 origin-[0] peer-focus:px-1 peer-focus:py-0.5 peer-focus:bg-[#CCC2B2] flex justify-center justify-items-center items-center rounded-[4px] drop-shadow-[0px_2px_5px_rgba(0,0,0,0.2)] peer-focus:start-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">
                                Scrivi un giro turistico
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="w-full mt-10 pt-8 border-t border-[#C2B6A3]">
            <p class="text-base font-semibold">Foto dell'immobile</p>
            <p class="text-sm pt-4">Carica almeno 5 foto dell'immobile. Nota: La prima foto sarà anche l'immagine di copertina della casa.</p>

            <input type="file" accept="image/*" class="hidden" (change)="selectedFiles($event)" multiple #fileUpload>

            <div (click)="fileUpload.click()" class="w-full border-dotted border-[4px] border-[#CCC2B2] h-[130px] inline-flex justify-center items-center gap-4 cursor-pointer mt-8 rounded-[20px]">
                <app-upload-simple-icon dimensions="w-6 h-6" color="black"></app-upload-simple-icon>
                <p class="text-base">Carica le foto della casa qui.</p>
            </div>

            <div *ngIf="imagesPaths.length > 0" class="w-full inline-flex flex-wrap gap-3 mt-8">
                <div *ngFor="let item of imagesPaths; let i = index" class="w-max relative border-[4px] rounded-[15px] border-[#CCC2B2]">
                    <img class="w-[96px] h-[96px] rounded-[15px]" [src]="'http://localhost:5270/' + item" alt="House" />
                    <div (click)="removeImage(item)" class="w-6 h-6 bg-[#000] bg-opacity-20 hover:bg-opacity-100 inline-flex items-center justify-center absolute top-[2px] right-[2px] rounded-full cursor-pointer">
                        <app-close-icon dimensions="w-3 h-3" color="white"></app-close-icon>
                    </div>
                    <div *ngIf="i == 0" class="w-[88px] h-[18px] rounded-full inline-flex justify-center items-center absolute bottom-1 bg-black bg-opacity-40">
                        <p class="text-[11px]  text-white">Copertina</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Description -->
        <div class="w-full inline-flex gap-6 mt-10">
            <p class="text-base font-semibold">Descrizione</p>
            <textarea name="description" formControlName="description"  placeholder="Wirte a description" class="border-[#CCC2B2] border-[2px] rounded-[20px] px-3 py-3 text-base text-[#5C503D] w-full h-[300px] focus:ring-none focus:ring-0 focus:border-[#CCC2B2] bg-transparent"></textarea>
        </div>
    </form>
</div>