<div *ngIf="(property$ | async) as property" class="bg-[rgb(224,218,209)] pb-8">
    <!-- Image -->
    <div class="w-full relative lg:hidden">
        <img data-modal-target="property-gallery-image" data-modal-toggle="property-gallery-image" class="w-full h-[243px] rounded-b-[20px]" [src]="property.propertyImages[0]" alt="Property">
        <!-- back button -->
        <div class="w-full inline-flex justify-between items-center px-6 absolute top-4 left-0">
            <button class="w-6 h-6 rounded-full bg-purple-600 inline-flex justify-center items-center">
                <app-caret-left-icon dimensions="w-3 h-3" color="white"></app-caret-left-icon>
            </button>
            <app-opla-logo dimensions="w-[67px] h-6" color="#7E3AF2"></app-opla-logo>
            <app-favourites [propertyId]="property.id"></app-favourites>
        </div>
    </div>
    <!-- DE: Images -->
    <div class="w-full lg:inline-flex justify-center items-center gap-3 hidden mt-6">
        <div class="w-[493px] h-[343px]">
            <img data-modal-target="property-gallery-image" data-modal-toggle="property-gallery-image" class="w-full h-full rounded-[20px] hover:shadow-[0_4px_0_0_rgba(251,229,37,1)] cursor-pointer" [src]="property.propertyImages[0]" alt="Property">
        </div>
        <div class="w-[270px] h-[343px]">
            <img data-modal-target="property-gallery-image" data-modal-toggle="property-gallery-image" class="w-full h-full rounded-[20px] hover:shadow-[0_4px_0_0_rgba(251,229,37,1)] cursor-pointer" [src]="property.propertyImages[1]" alt="Property">
        </div>
        <div class="w-[321px] h-[343px] grid gap-3">
            <img data-modal-target="property-gallery-image" data-modal-toggle="property-gallery-image" class="w-full h-[167px] rounded-[20px] hover:shadow-[0_4px_0_0_rgba(251,229,37,1)] cursor-pointer" [src]="property.propertyImages[2]" alt="Property">
            <img data-modal-target="property-gallery-image" data-modal-toggle="property-gallery-image" class="w-full h-[167px] rounded-[20px] hover:shadow-[0_4px_0_0_rgba(251,229,37,1)] cursor-pointer" [src]="property.propertyImages[3]" alt="Property">
        </div>
    </div>

    <div class="w-full px-4">
        <div class="w-full lg:inline-flex gap-16">
            <div class="w-full max-w-[706px]">
                <!-- Title -->
                <div class="w-full pt-6">
                    <h1 class="text-lg lg:text-xl">{{ property.alias }}</h1>
                </div>

                <!-- Pins -->
                <div class="w-full inline-flex flex-wrap gap-3 pt-4">
                    <div class="inline-flex gap-3 px-2 py-1 rounded bg-[#EBE7E0]">
                        <app-wave-square-icon dimensions="w-4 lg:w-6 h-4 lg:h-6" color="#5C503D"></app-wave-square-icon>
                        <p class="text-[#5C503D] text-xs font-semibold">{{ property!.squareMetters }} &#13217;</p>
                    </div>
                    <div class="inline-flex gap-3">
                        <app-bathtub-icon dimensions="w-4 h-4" color="#5C503D"></app-bathtub-icon>
                        <p class="text-[#5C503D] text-xs font-semibold">{{ property!.propertyCharacteristics.bathrooms }} Baths</p>
                    </div>
                    <div class="inline-flex gap-3">
                        <app-bed-icon dimensions="w-4 h-4" color="#5C503D"></app-bed-icon>
                        <p class="text-[#5C503D] text-xs font-semibold">{{ property!.propertyCharacteristics.numberOfRooms }} Rooms</p>
                    </div>
                    <div class="inline-flex gap-3">
                        <app-light-bulb-filament-icon dimensions="w-4 h-4" color="#5C503D"></app-light-bulb-filament-icon>
                        <p class="text-[#5C503D] text-xs font-semibold">{{ property!.propertyCharacteristics.energyClass }} Class</p>
                    </div>
                </div>

                <!-- Price -->
                <div class="w-full lg:pt-6">
                    <p class="text-xl lg:text-2xl font-semibold">{{ property.price | currency: 'EUR':'symbol':'1.2':'it'}}<span *ngIf="property!.propertyFor == 0"> / month</span></p>
                    <div *ngIf="property.oldPrice != 0" class="w-full inline-flex items-center gap-1">
                        <app-trend-down-icon dimensions="w-4 h-4" color="#539267"></app-trend-down-icon>
                        <p class="text-xs text-[#8A785B] line-through">{{ property.oldPrice | currency: 'EUR':'symbol':'1.2':'it' }}</p>
                    </div>
                </div>

                <!-- Description -->
                <div class="w-full pt-8">
                    <p class="text-xs">{{ property!.description }}</p>
                </div>
            </div>
            
            <!-- DE: Interest -->
            <div class="w-full max-w-[330px] lg:block hidden rounded-t-[20px] bg-[#D6CEC2] p-6 h-max mt-8">
                <p class="text-sm">Are you interested in this property?</p>

                <div class="grid gap-2 mt-6 pb-10 border-b border-[#C2B6A3]">
                    <!-- Phone -->
                    <a [href]="'tel:00'+property.userPhoneNumber">
                        <button type="button" class="bg-transparent rounded-full inline-flex justify-center h-10 items-center gap-3 w-full border-2 border-[#FBE525] hover:bg-[#FBE525] hover:shadow-[0_0__20px_0_rgba(251,229,37,1)] focus:shadow-none focus:border-[#E1CB04] focus:bg-[#E1CB04]">
                            <app-phone dimensions="w-4 h-4" color="black"></app-phone>
                            <p class="text-sm font-semibold">Phone</p>
                        </button>
                    </a>
                    <!-- Message -->
                    <button type="button" (click)="propertyService.changeInterestFormSource(true)" class="bg-[#FBE525] rounded-full inline-flex justify-center h-10 items-center gap-3 w-full border-2 border-[#FBE525] hover:bg-[#FBE525] hover:shadow-[0_0__20px_0_rgba(251,229,37,1)] focus:shadow-none focus:border-[#E1CB04] focus:bg-[#E1CB04]">
                        <app-envelope-icon dimensions="w-4 h-4" color="black"></app-envelope-icon>
                        <p class="text-sm font-semibold">Send Email</p>
                    </button>
                </div>

                <div class="inline-flex justify-center items-center gap-4 mt-4 pb-4">
                    <img class="rounded-full h-16 w-16" src="./assets/images/Gallery.png" alt="Agency">
                    <p class="text-sm text-[#4D4333]">DIMENSIONE CENTRO SRL - PARTNER UNICA - Dimensione Centro</p>
                </div>
            </div>
        </div>
        

        <!-- Loan -->
        <div *ngIf="property.propertyFor == 1" class="w-full pt-8 lg:max-w-[706px]">
            <app-loan [propertyPrice]="property.price"></app-loan>
        </div>
        <!-- / Loan -->

        <!-- Details -->
        <div class="w-full mt-16 lg:max-w-[706px]">
            <div class="inline-flex justify-between items-center w-full">
                <p class="text-base font-semibold">Details</p>
                <p (click)="copyToClipboard(property.id.toString())" class="inline-flex w-max justify-center items-center gap-2 text-sm text-[#A39175] cursor-pointer">
                    OPLA{{ property.id }}
                    <app-copy-icon class="w-4 h-4" color="#A39175"></app-copy-icon>
                </p>
            </div>
            <app-details-table 
                [characteristics]="property.propertyCharacteristics"
                [squareMetters]="property.squareMetters"
                [price]="property.price"
                [propertyFor]="property.propertyFor"
                [availableFrom]="property.availableFrom"
                [typeId]="property.propertyTypeId">
            </app-details-table>
        </div>
        <!-- / Details -->

        <!-- Additional features -->
        <div class="w-full mt-16 lg:max-w-[706px]">
            <div class="inline-flex justify-between items-center w-full">
                <p class="text-base font-semibold">Additional features</p>
            </div>
            <app-additional-features [features]="property?.propertyCharacteristics?.additionalFeatures"></app-additional-features>
        </div>
        <!-- / Details -->

        <!-- Near to -->
        <div class="w-full mt-16 lg:max-w-[706px]">
            <div class="inline-flex justify-between items-center w-full">
                <p class="text-base font-semibold">Additional features</p>
            </div>
            
            <div *ngIf="property.distanceFromSea != 0" class="w-full grid gap-4 mt-4">
                <!-- Distance from Sea -->
                <div class="inline-flex justify-between items-center w-full">
                    <p class="inline-flex items-center gap-4">
                        <app-waves-icon dimensions="w-6 h-6" color="black"></app-waves-icon>
                        <span class="text-sm">Distance from Sea</span>
                    </p>
                    <p class="text-sm text-[#5C503D]">{{ property.distanceFromSea }} m.</p>
                </div>

                <!-- Distance from City -->
                <div *ngIf="property.distanceFromCity != 0" class="inline-flex justify-between items-center w-full">
                    <p class="inline-flex items-center gap-4">
                        <app-city-icon dimensions="w-6 h-6" color="black"></app-city-icon>
                        <span class="text-sm">Distance from City</span>
                    </p>
                    <p class="text-sm text-[#5C503D]">{{ property.distanceFromCity }} m.</p>
                </div>

                <!-- Distance from Center -->
                <div *ngIf="property.distanceFromCenter != 0" class="inline-flex justify-between items-center w-full">
                    <p class="inline-flex items-center gap-4">
                        <app-map-pin-simple-area-icon dimensions="w-6 h-6" color="black"></app-map-pin-simple-area-icon>
                        <span class="text-sm">Distance from Center</span>
                    </p>
                    <p class="text-sm text-[#5C503D]">{{ property.distanceFromCenter }} m.</p>
                </div>

                <!-- Distance from Airport -->
                <div *ngIf="property.distanceFromAirport != 0" class="inline-flex justify-between items-center w-full">
                    <p class="inline-flex items-center gap-4">
                        <app-airplane-tilt-icon dimensions="w-6 h-6" color="black"></app-airplane-tilt-icon>
                        <span class="text-sm">Distance from Airport</span>
                    </p>
                    <p class="text-sm text-[#5C503D]">{{ property.distanceFromAirport }} m.</p>
                </div>

                <!-- Near to -->
                <div *ngIf="property.nearTo != null" class="inline-flex justify-between items-center w-full">
                    <p class="inline-flex items-center gap-4">
                        <span class="text-sm">Near to:</span>
                    </p>
                    <p class="text-sm text-[#5C503D]">{{ property.nearTo }}</p>
                </div>
            </div>
        </div>
        <!-- / Near to -->

        <!-- Date of Post -->
        <div class="w-full mt-8 py-4 border-t-2 border-[#D6CEC2] grid gap-1 text-sm text-[#8A785B] lg:max-w-[706px]">
            <p>Property posted: {{ getDate(property.dateCreated) }}</p>
            <p>Last update: {{ getDate(property.lastUpdate) }}</p>
            <p class="inline-flex items-center gap-3 text-[#7D7102] mt-6 hover:underline cursor-pointer">
                <app-warning-octagon-icon dimensions="w-6 h-6" color="#7D7102"></app-warning-octagon-icon>
                Let us know if there is an error or bug.
            </p>
        </div>
        <!-- / Date of Post -->
    </div>

    <!-- TODO: Energy Cards -->
    <div class="w-full flex flex-col gap-10 lg:flex-row lg:gap-5">

        <!-- Enel Light -->
        <div class="w-full h-[270px] px-6 pt-6 pb-8 bg-gradient-to-r from-[#FF0F64] to-[#3C0015] border-none rounded-[20px] flex flex-col justify-between">

            <div class="flex flex-col gap-5">

                <!-- Icon & Logo -->
                <div class="flex flex-row justify-between">
                    <app-light-icon></app-light-icon>
                    <app-enel-logo></app-enel-logo>
                </div>
                <!--/ Icon & Logo -->

                <!-- Texts -->
                <div class="flex flex-col gap-3 lg:w-full lg:max-w-[300px]">
                    <p class="text-2xl text-white lg:text-[31px]">E-light Light</p>
                    <p class="text-[12px] text-white lg:text-[13px]">The most convenient Enel Energia fixed price electricity offer for you</p>
                </div>
                <!--/ Texts -->

            </div>

            <!-- Button -->
            <button class="w-full py-4 bg-transparent border-2 border-white rounded-[500px] text-white text-sm font-semibold lg:max-w-[208px] hover:bg-white hover:text-[#FF0F64] focus:bg-white focus:text-[#FF0F64]">Find out More</button>
            <!--/ Button -->

        </div>
        <!--/ Enel Light -->

        <!-- Enel Gas -->
        <div class="w-full h-[270px] px-6 pt-6 pb-8 bg-gradient-to-r from-[#FF5A0F] to-[#601E00] border-none rounded-[20px] flex flex-col justify-between">

            <div class="flex flex-col gap-5">

                <!-- Icon & Logo -->
                <div class="flex flex-row justify-between">
                    <app-fire-icon></app-fire-icon>
                    <app-enel-logo></app-enel-logo>
                </div>
                <!--/ Icon & Logo -->
            
                <!-- Texts -->
                <div class="flex flex-col gap-3 lg:w-full lg:max-w-[300px]">
                    <p class="text-2xl text-white lg:text-[31px]">E-light Gas</p>
                    <p class="text-[12px] text-white lg:text-[13px]">The most convenient Enel Energia fixed price gas offer for you</p>
                </div>
                <!--/ Texts -->

            </div>

            <!-- Button -->
            <button class="w-full py-4 bg-transparent border-2 border-white rounded-[500px] text-sm text-white font-semibold lg:max-w-[208px] hover:bg-white hover:text-[#FF5A0F] focus:bg-white focus:text-[#FF5A0F]">Find out More</button>
            <!--/ Button -->

        </div>
        <!--/ Enel Gas -->

    </div>
    <!--/ Energy Cards -->


    <!-- TODO: Similar Properties -->
    <!-- <div class="w-full px-4 mt-16 lg:px-[90px]">
        <app-similar-properties></app-similar-properties>
    </div> -->
    <!-- / Similar Properties -->

    <!-- Property Gallery Image -->
    <div id="property-gallery-image" tabindex="-1" aria-hidden="true" class="bg-[#122017] hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">

        <button data-modal-hide="property-gallery-image" class="absolute top-4 right-4 rounded-full w-12 h-12 bg-black bg-opacity-40 cursor-pointer inline-flex justify-center items-center">
            <app-close-icon dimensions="w-6 h-6" color="white"></app-close-icon>
        </button>

        <div id="controls-carousel" class="relative w-full lg:max-w-[1100px]" data-carousel="static">
            <div class="relative h-[652px] overflow-hidden rounded-lg">
                <div *ngFor="let image of property.propertyImages" class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img [src]="image" class="absolute block w-full  h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-[20px]" alt="...">
                </div>
            </div>
            <button class="hidden" data-carousel-prev #dataCarouselPrev></button>
            <button class="hidden" data-carousel-next #dataCarouselNext></button>
        </div>

        <div class="absolute bottom-4 left-0 w-full inline-flex justify-between items-center">
            <!-- Slider controls -->
            <button type="button" class="flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" (click)="dataCarouselPrev.click()">
                <span class="inline-flex items-center justify-center w-12 h-12 rounded-full bg-[#FBE525] group-focus:ring-0 group-focus:ring-none group-focus:outline-none">
                    <app-caret-left-icon dimensions="w-4 h-4" color="#000" class="rtl:rotate-180"></app-caret-left-icon>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <!-- Image count -->
            <div class="w-full inline-flex justify-center items-center gap-2">
                <app-image-icon dimensions="w-4 h-4" color="white"></app-image-icon>
                <p class="text-xs text-white">{{property.propertyImages.length}}</p>
            </div>
            <button type="button" class="flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" (click)="dataCarouselNext.click()">
                <span class="inline-flex items-center justify-center w-12 h-12 rounded-full bg-[#FBE525] group-focus:ring-0 group-focus:ring-none group-focus:outline-none">
                    <app-caret-right dimensions="w-4 h-4" color="#000" class="rtl:rotate-180"></app-caret-right>
                </span>
            </button>
        </div>
    </div>
    <!-- / Property Gallery Image -->

</div>

<!-- Request an Interest -->
<div class="w-full">
    <app-interest></app-interest>
</div>
<!-- / Request an Interest -->